@each $name, $ratio in $aspect-ratios {
	.aspect-ratio-#{$name} {
		aspect-ratio: #{$ratio};
		width: 100% !important; // must override width to fill ratio
		height: 100% !important; // must override height to fill ratio
		// object-fit: cover;
	}
}
