$border-sides: ('top', 'right', 'bottom', 'left');
$border-positions: ('top', $user-right, 'bottom', $user-left);

@mixin sides-rules($screen-size: '') {
	@for $i from 1 through 4 {
		$border-side: nth($border-sides, $i);
		$border-position: nth($border-positions, $i);

		@if ($screen-size == '') {
			.border-#{$border-side} {
				border-#{$border-position}: $border-width solid $border !important;
			}

			.border-#{$border-side}-none {
				border: 0 !important;
			}
		} @else {
			.border-#{$border-side}-#{$screen-size} {
				border-#{$border-position}: $border-width solid $border !important;
			}

			.border-#{$border-side}-#{$screen-size}-none {
				border: 0 !important;
			}
		}
	}
}

.border {
	border: $border-width solid $border !important;
}

.border-none {
	border: 0 !important;
}

// Rules for each side
@include sides-rules;

// Screen specific rules
@include tablet {
	.border-none-tablet {
		border: 0 !important;
	}

	// Rules for each side
	@include sides-rules('tablet');
}

@include desktop {
	.border-none-desktop {
		border: 0 !important;
	}

	// Rules for each side
	@include sides-rules('desktop');
}

@include widescreen {
	.border-none-widescreen {
		border: 0 !important;
	}

	// Rules for each side
	@include sides-rules('widescreen');
}

// Modifiers
.border-high-contrast {
	border: $border-width solid $border-white-high-contrast;
}

.border-high-contrast-hover:hover {
	border: $border-width solid $border-yellow-high-contrast;
}

.border-radius {
	border-radius: $border-radius !important;
}

.border-radius-l {
	border-radius: $border-radius-large !important;
}
