$overflow-values: auto hidden;

@each $value in $overflow-values {
	.overflow-#{$value} {
		overflow: $value;
	}

	.overflow-x-#{$value} {
		overflow-x: $value;
	}

	.overflow-y-#{$value} {
		overflow-y: $value;
	}

	@include tablet {
		.overflow-#{$value}-tablet {
			overflow: $value;
		}

		.overflow-x-#{$value}-tablet {
			overflow-x: $value;
		}

		.overflow-y-#{$value}-tablet {
			overflow-y: $value;
		}
	}
}
