.overflow-hidden {
	overflow: $value;
}

.overflow-x-hidden {
	overflow-x: $value;
}

.overflow-y-hidden {
	overflow-y: $value;
}

@include tablet {
	.overflow-hidden-tablet {
		overflow: $value;
	}

	.overflow-x-hidden-tablet {
		overflow-x: $value;
	}

	.overflow-y-hidden-tablet {
		overflow-y: $value;
	}
}
