@use '../tokens/index.scss' as tokens;
@use '../mixins/index.scss' as mixins;

.box-shadow-none {
	box-shadow: none !important;
}

.box-shadow-light {
	box-shadow: tokens.$box-shadow-light !important;
}

.box-shadow-medium {
	box-shadow: tokens.$box-shadow-medium !important;
}

.box-shadow-heavy {
	box-shadow: tokens.$box-shadow-heavy !important;
}

.box-shadow-extra-heavy {
	box-shadow: tokens.$box-shadow-extra-heavy !important;
}
