@use 'sass:list';

$universal-widths: 100, 150, 200, 250, 300, 350 !default;
$tablet-plus-widths: 400, 450 !default;
$all-widths: list.join($universal-widths, $tablet-plus-widths);

// widths

@each $width in $universal-widths {
	.width-#{$width} {
		width: #{$width}px !important;
	}
}

@include tablet {
	@each $width in $all-widths {
		.width-#{$width}-tablet {
			width: #{$width}px !important;
		}
	}
}

@include desktop {
	@each $width in $all-widths {
		.width-#{$width}-desktop {
			width: #{$width}px !important;
		}
	}
}

@include widescreen {
	@each $width in $all-widths {
		.width-#{$width}-widescreen {
			width: #{$width}px !important;
		}
	}
}
