@mixin center($width, $height: 0) {
	position: absolute;

	@if $height != 0 {
		top: calc(50% - (#{$height} / 2));
		left: calc(50% - (#{$width} / 2));
	} @else {
		top: calc(50% - (#{$width} / 2));
		left: calc(50% - (#{$width} / 2));
	}
}
