@mixin center($width, $height: 0) {
	position: absolute;

	@if $height != 0 {
		inset-block-start: calc(50% - (#{$height} / 2));
		inset-inline-start: calc(50% - (#{$width} / 2));
	} @else {
		inset-block-start: calc(50% - (#{$width} / 2));
		inset-inline-start: calc(50% - (#{$width} / 2));
	}
}
