@mixin checkmark {
	display: block;
	position: absolute;
	top: 0.2em;
	width: calc($checkbox-icon-size / 2);
	height: $checkbox-icon-size;
	transform: rotate(45deg);
	border: solid $checkbox-check-hover-color;
	border-width: 0 1.25px 1.25px 0;
	content: '';
}
