@mixin checkmark {
	display: block;
	position: absolute;
	top: 1px;
	width: calc($checkbox-icon-size / 2);
	height: $checkbox-icon-size;
	transform: rotate(45deg);
	border: solid $secondary-hover;
	border-width: 0 1px 1px 0;
	content: '';
}
