/* stylelint-disable max-nesting-depth, selector-max-specificity  */

$form-font-size: $font-size-7;
$form-font-size-sm: $font-size-8;
$form-font-size-lg: $font-size-6;

$icon-size: 2.25em;

$icon-color: $secondary-background !default;
$icon-active-color: $secondary !default;

.field {
	&:not(:last-child) {
		margin-block-end: $spacer-4;
	}

	.field-description {
		margin-block-end: $spacer-4;
	}

	.field-label {
		@include label;

		margin-block-end: $spacer-3;

		@include tablet {
			flex: 1 0 0;
		}
	}

	.field-body {
		position: relative;
		font-size: $form-font-size;
		text-align: start;
	}

	.field-validation-message {
		line-height: 1.5;
	}
}

.required-indicator::after,
::part(required-indicator)::after {
	color: $danger;
	content: '*';
	vertical-align: top;
}
