$help-color: $text !default;
$help-error-color: $danger !default;
$help-warning-color: $warning-active !default;
$help-success-color: $score-high !default;
$help-font-size: $font-size-8 !default;

.help {
	display: block;
	color: $help-color;
	font-size: $help-font-size;

	&.help-error {
		color: $help-error-color;
	}

	&.help-warning {
		color: $help-warning-color;
	}

	&.help-success {
		color: $help-success-color;
	}
}
