$input-color: $text !default;
$input-background-color: $body-background !default;
$input-border-color: $control-border !default;
$input-placeholder-color: $text-subtle !default;

$input-hover-color: $text !default;
$input-hover-border-color: $primary !default;
$input-focus-border-color: $primary !default;

$input-disabled-color: $text-subtle !default;
$input-disabled-background-color: $body-background-medium !default;
$input-disabled-border-color: $table-border-dark !default;

$input-danger-border-color: $danger !default;
$input-success-border-color: $success !default;

$input-focus-box-shadow-size: 0 0 0 0.125rem !default;

.input {
	@include control;

	width: 100%;
	max-width: 100%;
	border-color: $input-border-color;
	background-color: $input-background-color;
	color: $input-color !important;

	&::placeholder {
		color: $input-placeholder-color;
	}

	&:hover {
		border-color: $input-hover-border-color;
	}

	&[disabled] {
		border-color: $input-disabled-border-color;
		background-color: $input-disabled-background-color;
		color: $input-disabled-color;
	}

	@include focus-visible {
		@extend %focus;

		border-color: $input-focus-border-color;
		outline-color: transparent;
		outline-offset: 0;
		outline-style: solid;
		box-shadow: $input-focus-box-shadow-size $input-focus-border-color;
	}

	&.input-sm {
		@include control-sm;
	}

	&.input-lg {
		@include control-lg;
	}

	&.input-danger {
		border-color: $input-danger-border-color;

		@include focus-visible() {
			box-shadow: $input-focus-box-shadow-size $input-danger-border-color;
		}
	}

	&.input-success {
		border-color: $input-success-border-color;

		@include focus-visible() {
			box-shadow: $input-focus-box-shadow-size $input-success-border-color;
		}
	}
}
