/* stylelint-disable selector-no-qualifying-type */

$select-color: $text !default;
$select-background-color: $body-background !default;
$select-border-color: $control-border !default;
$select-placeholder-color: $text-subtle !default;

$select-hover-color: $text !default;
$select-hover-border-color: $primary !default;
$select-focus-border-color: $primary !default;

$select-disabled-color: $text-subtle !default;
$select-disabled-background-color: $body-background-medium !default;
$select-disabled-border-color: $table-border-dark !default;

$select-danger-border-color: $danger !default;
$select-success-border-color: $success !default;

$select-focus-box-shadow-size: 0 0 0 0.125rem !default;

$select-arrow-size: 0.525em !default;
$select-arrow-border-width: 1px !default;
$select-arrow-actual-width: 0.75em !default;

.select {
	position: relative;
	font-size: $control-font-size;

	select {
		@include control;

		width: 100%;
		max-width: 100%;
		border-color: $select-border-color;
		background-color: $select-background-color;
		color: $select-color;
		font-size: 1em;
		cursor: pointer;

		&[multiple] {
			padding: 0;
			overflow-y: auto;

			option {
				padding: $control-padding-vertical $control-padding-horizontal;
			}
		}

		&[disabled] {
			border-color: $select-disabled-border-color;
			background-color: $select-disabled-background-color;
			color: $select-disabled-color;
		}

		@include focus-visible {
			@extend %focus;

			border-color: $select-focus-border-color;
			outline-color: transparent;
			outline-offset: 0;
			outline-style: solid;
			box-shadow: $select-focus-box-shadow-size $select-focus-border-color;
		}
	}

	&:not(.select-multiple) {
		select {
			padding-inline-end: calc($control-padding-horizontal + $select-arrow-actual-width);
		}

		&::after {
			display: block;
			position: absolute;
			top: calc(50% - $select-arrow-actual-width / 2);
			width: $select-arrow-size;
			height: $select-arrow-size;
			transform: rotate(-45deg);
			transform-origin: center;
			border: $select-arrow-border-width solid $select-color;
			border-top: 0;
			border-right: 0;
			pointer-events: none;
			content: ' ';
			z-index: $zindex-active;
			inset-inline-end: $control-padding-horizontal;
		}

		&.select-disabled::after {
			border-color: $select-disabled-border-color;
		}
	}

	&.select-sm {
		font-size: $control-sm-font-size;
	}

	&.select-lg {
		font-size: $control-lg-font-size;
	}

	&.select-danger select {
		border-color: $select-danger-border-color;

		@include focus-visible() {
			box-shadow: $select-focus-box-shadow-size $select-danger-border-color;
		}
	}

	&.select-success select {
		border-color: $select-success-border-color;

		@include focus-visible() {
			box-shadow: $select-focus-box-shadow-size $select-success-border-color;
		}
	}
}
