$textarea-color: $text !default;
$textarea-background-color: $body-background !default;
$textarea-border-color: $control-border !default;
$textarea-border-bottom-color: $control-border-bottom !default;
$textarea-placeholder-color: $text-subtle !default;

$textarea-hover-color: $text !default;
$textarea-hover-border-color: $secondary !default;
$textarea-focus-border-color: $primary !default;

$textarea-disabled-color: $text-subtle !default;
$textarea-disabled-background-color: $body-background-medium !default;
$textarea-disabled-border-color: $table-border-dark !default;

$textarea-danger-border-color: $danger !default;
$textarea-success-border-color: $success !default;

$textarea-focus-box-shadow-size: 0 0.0625rem 0 0 !default;

.textarea {
	@include control;

	display: block;
	width: 100%;
	max-width: 100%;
	resize: vertical;
	border-color: $textarea-border-color;
	border-block-end-color: $textarea-border-bottom-color;
	background-color: $textarea-background-color;
	color: $textarea-color !important;

	&[rows] {
		height: initial;
	}

	&:not([rows]) {
		min-height: 100px;
		max-height: 600px;
	}

	&::placeholder {
		color: $textarea-placeholder-color;
	}

	&:hover {
		border-color: $textarea-hover-border-color;
		border-block-end-color: $textarea-border-bottom-color;
	}

	&[disabled] {
		border-color: $textarea-disabled-border-color;
		background-color: $textarea-disabled-background-color;
		color: $textarea-disabled-color;
	}

	@include focus-visible {
		@extend %focus;

		border-block-end-color: $textarea-focus-border-color;
		outline-color: transparent;
		outline-offset: 0;
		outline-style: solid;
		box-shadow: $textarea-focus-box-shadow-size $textarea-focus-border-color;
	}

	&.textarea-fixed-height {
		resize: none;
	}

	&.textarea-danger {
		border-color: $textarea-danger-border-color;

		@include focus-visible() {
			box-shadow: $textarea-focus-box-shadow-size $textarea-danger-border-color;
		}
	}

	&.textarea-success {
		border-color: $textarea-success-border-color;

		@include focus-visible() {
			box-shadow: $textarea-focus-box-shadow-size $textarea-success-border-color;
		}
	}
}
