$textarea-color: $text !default;
$textarea-background-color: $body-background !default;
$textarea-border-color: $text !default;
$textarea-placeholder-color: $text-subtle !default;

$textarea-hover-color: $text !default;
$textarea-hover-border-color: $primary !default;
$textarea-focus-border-color: $primary !default;

$textarea-disabled-color: $text-subtle !default;
$textarea-disabled-background-color: $body-background-medium !default;
$textarea-disabled-border-color: $table-border-dark !default;

$textarea-error-border-color: $danger !default;
$textarea-warning-border-color: $warning-active !default;
$textarea-success-border-color: $score-high !default;

.textarea {
	@include control;

	display: block;
	width: 100%;
	max-width: 100%;
	resize: vertical;
	border-color: $textarea-border-color;
	background-color: $textarea-background-color;
	color: $textarea-color !important;
	margin-block-start: 0.5rem;

	&::placeholder {
		color: $textarea-placeholder-color;
	}

	&:hover,
	&:focus-visible {
		border-color: $textarea-hover-border-color;
	}

	&:focus-visible {
		@extend %focus;

		outline-color: $textarea-focus-border-color;
		outline-offset: 0 !important;
		outline-style: solid !important;
	}

	&[disabled] {
		border-color: $textarea-disabled-border-color;
		background-color: $textarea-disabled-background-color;
		color: $textarea-disabled-color;
	}

	&:not([rows]) {
		min-height: 100px;
		max-height: 600px;
	}

	&[rows] {
		height: initial;
	}

	&.textarea-fixed-height {
		resize: none;
	}

	&.textarea-sm {
		@include control-sm;
	}

	&.textarea-lg {
		@include control-lg;
	}

	&.textarea-error {
		border-color: $textarea-error-border-color;
		outline-color: $textarea-error-border-color;
	}

	&.textarea-warning {
		border-color: $textarea-warning-border-color;
		outline-color: $textarea-warning-border-color;
	}

	&.textarea-success {
		border-color: $textarea-success-border-color;
		outline-color: $textarea-success-border-color;
	}
}
