$textarea-color: $text !default;
$textarea-background-color: $body-background !default;
$textarea-border-color: $control-border !default;
$textarea-border-bottom-color: $control-border-bottom !default;
$textarea-placeholder-color: $text-subtle !default;

$textarea-hover-color: $text !default;
$textarea-hover-border-color: $default-hover !default;
$textarea-focus-border-color: $primary !default;

$textarea-disabled-color: $text-subtle !default;
$textarea-disabled-background-color: $body-background-medium !default;
$textarea-disabled-border-color: $table-border-dark !default;

$textarea-danger-border-color: $danger !default;
$textarea-success-border-color: $success !default;

$textarea-focus-box-shadow-size: 0 0.125rem 0 0 !default;

$textarea-margin-spacing: $layout-1 !default;

.textarea {
	@include control;

	display: block;
	width: 100%;
	max-width: 100%;
	resize: vertical;
	transition: box-shadow 300ms linear;
	border-color: $textarea-border-color;
	border-block-end-color: $textarea-border-bottom-color;
	background-color: $textarea-background-color;
	color: $textarea-color !important;

	&[rows] {
		height: initial;
	}

	&:not([rows]) {
		min-height: 100px;
		max-height: 600px;
	}

	&::placeholder {
		color: $textarea-placeholder-color;
	}

	&:hover {
		border-color: $textarea-hover-border-color;
		border-block-end-color: $textarea-border-bottom-color;
	}

	&[disabled] {
		border-color: $textarea-disabled-border-color;
		background-color: $textarea-disabled-background-color;
		color: $textarea-disabled-color;
	}

	@include focus-visible {
		@extend %focus;

		border-block-end-color: $textarea-focus-border-color;
		outline-color: transparent;
		outline-offset: 0;
		outline-style: solid;
		box-shadow: $textarea-focus-box-shadow-size $textarea-focus-border-color;
	}

	&.textarea-fixed-height {
		resize: none;
	}

	&.textarea-danger {
		border-color: $textarea-danger-border-color;

		@include focus-visible() {
			border-color: $textarea-border-color;
			border-block-end-color: $textarea-danger-border-color;
			box-shadow: $textarea-focus-box-shadow-size $textarea-danger-border-color;
		}
	}

	&.textarea-success {
		border-color: $textarea-success-border-color;

		@include focus-visible() {
			border-color: $textarea-border-color;
			border-block-end-color: $textarea-success-border-color;
			box-shadow: $textarea-focus-box-shadow-size $textarea-success-border-color;
		}
	}
}

$textarea-form-gap: 0.25em !default;
$textarea-divider-radius: 0.5rem !default;

.textarea-form {
	display: grid;
	gap: $textarea-form-gap;
	padding-block: $control-padding-vertical;
	padding-inline: $control-padding-horizontal;
	transition: box-shadow 300ms linear;
	border-width: $control-border-width;
	border-style: solid;
	border-radius: $border-radius;
	border-color: $textarea-border-color;
	background-color: $textarea-background-color;
	font-size: $control-font-size;
	border-block-end-color: $textarea-border-bottom-color;

	@include prefers-reduced-motion {
		animation-duration: 0s;
	}

	&:has(.textarea:focus-visible),
	&:has(.textarea:hover) {
		border-block-end-color: $textarea-focus-border-color;
		outline-color: transparent;
		outline-offset: 0;
		outline-style: solid;
		box-shadow: $textarea-focus-box-shadow-size $textarea-focus-border-color;
	}

	.textarea {
		resize: none;
		border: none;
		box-shadow: none;
	}

	.textarea-form-footer {
		display: flex;
		align-items: center;
		justify-content: space-between;
		outline-color: currentColor;
		margin-inline-start: $textarea-margin-spacing;
	}

	.textarea-form-footer-divider {
		height: 70%;
		border: 1px solid $control-border;
		border-radius: $textarea-divider-radius;
	}

	.textarea-form-footer-left,
	.textarea-form-footer-right {
		display: flex;
		align-items: center;
		gap: $textarea-form-gap;
		height: 100%;
	}

	.textarea-form-help {
		display: flex;
		margin-inline-start: $textarea-margin-spacing;

		.help {
			align-items: center;
			gap: 0.375em;
		}
	}
}
