@use '@microsoft/atlas-css/src/tokens/index.scss' as tokens;
@use '@microsoft/atlas-css/src/mixins/index.scss' as mixins;
@use '@microsoft/atlas-css/src/components/button.scss' as button;

[data-adaptive-grid-class][aria-pressed='true'] {
	@extend .button-primary;
	@extend .button-filled;
}

.adaptive-grid-demo {
	--adaptive-grid-demo-width: 600px;

	.adaptive-grid-demo-options {
		display: grid;
		gap: tokens.$layout-2;
		margin-block-end: tokens.$layout-2;
	}

	.adaptive-grid-demo-workspace {
		@include mixins.desktop {
			--adaptive-grid-demo-available-width: min(
				1000px,
				calc(
					100vw - var(--layout-menu-width) - var(--layout-menu-spacer-width) -
						var(--layout-aside-spacer-width) - var(--layout-aside-width) - (var(--layout-gap) * 2)
				)
			);

			inline-size: var(--adaptive-grid-demo-available-width);
			margin-inline: calc((100% - var(--adaptive-grid-demo-available-width)) / 2);
		}
	}

	.adaptive-grid-demo-option-label {
		margin-block-end: tokens.$layout-1;
	}

	.adaptive-grid-demo-controls {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: tokens.$layout-2;
		margin-block-end: tokens.$layout-2;
	}

	.adaptive-grid-demo-slider {
		flex: 1;
		min-inline-size: 0;
	}

	.adaptive-grid-demo-preview {
		inline-size: min(100%, var(--adaptive-grid-demo-width));
	}
}
