$breadcrumb-font-size: $font-size-7 !default;
$breadcrumb-padding: $spacer-0 $spacer-5 !default;
$breadcrumb-lg-font-size: $font-size-6 !default;
$breadcrumb-sm-font-size: $font-size-8 !default;
$breadcrumb-padding-vertical: 0.375em !default;

.breadcrumbs {
	font-size: $breadcrumb-font-size;

	.breadcrumbs-item {
		display: inline-block;
		padding-block: $breadcrumb-padding-vertical;

		a:not(:hover) {
			text-decoration: none;
		}

		&:not(.breadcrumbs-item-slashless):after,
		.breadcrumbs-overflow ~ &:before {
			content: '\00200B/';
		}

		&:after {
			display: inline-block;
			margin-inline: 0.25em;
			margin-block-end: 0.0625em;
			color: $text-subtle;
		}
	}
}
