.tag-input-holder {
	border: 1px solid $control-border;
	height: 2.25rem;
}

.warning-icon-container {
	margin-inline-end: $spacer-3;

	svg {
		fill: currentColor;
		forced-color-adjust: auto;
		width: 1rem;
		height: auto;
	}
}
