/**
 * @sass-export-section="animation"
 */
// Animation related property values
$input-timing-function: cubic-bezier(0.4, 0, 0.23, 1) !default;
$input-transition-duration: 200ms;
$nav-bar-transition-duration: 86ms !default;
//@end-sass-export-section
