/**
 * @sass-export-section="border"
 */
$border-width: 1px !default;
$border-width-md: 0.125rem !default;
$border-width-lg: 0.25rem !default;

$border-radius-sm: 0.125rem !default; // 2px
$border-radius: 0.25rem !default; // 4px
$border-radius-lg: 0.375rem !default; // 6px
$border-radius-rounded: 290486px !default;
//@end-sass-export-section
