// The horizontal gap tied to containers
$container-gap: 64px !default;

// Breakpoints
$breakpoint-small: 540px !default;
$breakpoint-medium: 768px !default;
$breakpoint-large: 1088px !default;
$breakpoint-massive: 1472px !default;
