/**
 * @sass-export-section="breakpoints"
 */
// The horizontal gap tied to containers
$container-gap: 64px !default;

// Breakpoints
$breakpoint-tablet: 768px !default;
$breakpoint-desktop: 1088px !default;
$breakpoint-widescreen: 1800px !default;
//@end-sass-export-section
