/**
 * @sass-export-section="container"
 */
$container-query-320: 320px !default;
$container-query-480: 480px !default;
$container-query-640: 640px !default;
$container-query-800: 800px !default;
//@end-sass-export-section
