// Direction

$user-text-direction: ltr !default;

$user-left: if($user-text-direction == rtl, right, left);
$user-right: if($user-text-direction == rtl, left, right);

$user-translate-x-direction: if($user-text-direction == rtl, -1, 1);

$directions: (
	'top': 'top',
	'right': $user-right,
	'bottom': 'bottom',
	'left': $user-left
);
