/**
 * @sass-export-section="direction"
 */
// Direction
$logical-directions: (
	'top': 'block-start',
	'right': 'inline-end',
	'bottom': 'block-end',
	'left': 'inline-start'
);
//@end-sass-export-section
