/**
 * @sass-export-section="focus"
 */
// Focus related variables
$focus-width: 0.125rem !default;
$focus-style: dashed !default;
$focus-outline-offset: 0.25rem !default;
$focus-visible-use-polyfill: false !default;
//@end-sass-export-section
