/**
 * @sass-export-section="font-stack"
 */
$monospace-font-stack: 'SFMono-Regular', 'Consolas', 'Liberation Mono', 'Menlo', 'Courier',
	monospace !default;
$normal-font-stack: -apple-system, 'BlinkMacSystemFont', 'Segoe UI Variable Text', 'Roboto',
	'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial',
	sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji' !default;
$quote-font-stack: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif !default;
//@end-sass-export-section
