/**
 * @sass-export-section="palette"
 */
// The Atlas palette contains colors used within themes.
// To ensure theme fidelity, avoid using $palette-* variables outside of themes.scss.

/*
Notes:

*/

// Monochrome

$palette-grey-10: #fafafa !default;
$palette-grey-20: #f2f2f2 !default;
$palette-grey-30: #e6e6e6 !default;
$palette-grey-40: #d2d2d2 !default;
$palette-grey-50: #bcbcbc !default;
$palette-grey-60: #a2a2a2 !default;
$palette-grey-70: #8e8e8e !default;
$palette-grey-80: #757575 !default;
$palette-grey-90: #505050 !default;
$palette-grey-100: #404040 !default;
$palette-grey-110: #2f2f2f !default;
$palette-grey-120: #171717 !default;
$palette-grey-130: #161616 !default;

// Black

$palette-black: #000 !default;

$palette-black-opacity-90: hsl(0deg 0% 0% / 90%) !default;
$palette-black-opacity-80: hsl(0deg 0% 0% / 80%) !default;
$palette-black-opacity-70: hsl(0deg 0% 0% / 70%) !default;
$palette-black-opacity-60: hsl(0deg 0% 0% / 60%) !default;
$palette-black-opacity-50: hsl(0deg 0% 0% / 50%) !default;
$palette-black-opacity-40: hsl(0deg 0% 0% / 40%) !default;
$palette-black-opacity-30: hsl(0deg 0% 0% / 30%) !default;
$palette-black-opacity-20: hsl(0deg 0% 0% / 20%) !default;
$palette-black-opacity-10: hsl(0deg 0% 0% / 10%) !default;
$palette-black-opacity-0: hsl(0deg 0% 0% / 0%) !default;

// White

$palette-white: #fff !default;

$palette-white-opacity-0: hsl(0deg 0% 100% / 0%);
$palette-white-opacity-10: hsl(0deg 0% 100% / 10%);
$palette-white-opacity-20: hsl(0deg 0% 100% / 20%);
$palette-white-opacity-30: hsl(0deg 0% 100% / 30%);
$palette-white-opacity-40: hsl(0deg 0% 100% / 40%);
$palette-white-opacity-50: hsl(0deg 0% 100% / 50%);
$palette-white-opacity-60: hsl(0deg 0% 100% / 60%);
$palette-white-opacity-70: hsl(0deg 0% 100% / 70%);
$palette-white-opacity-80: hsl(0deg 0% 100% / 80%);
$palette-white-opacity-90: hsl(0deg 0% 100% / 90%);

// Values used for shadows

$palette-black-opacity-108: hsl(0deg 0% 0% / 11%) !default;
$palette-black-opacity-132: hsl(0deg 0% 0% / 13%) !default;

$palette-black-opacity-22: hsl(0deg 0% 0% / 22%) !default;
$palette-black-opacity-18: hsl(0deg 0% 0% / 18%) !default;

$palette-white-opacity-108: hsl(0deg 0% 100% / 11%) !default;
$palette-white-opacity-132: hsl(0deg 0% 100% / 13%) !default;

$palette-white-opacity-22: hsl(0deg 0% 100% / 22%) !default;
$palette-white-opacity-18: hsl(0deg 0% 100% / 18%) !default;

// Blue

$palette-blue-10-deprecated: #d7eaf8 !default;
$palette-blue-20-deprecated: #9ccbee !default;
$palette-blue-30-deprecated: #75b6e7 !default;
$palette-blue-40-deprecated: #278cda !default;
$palette-blue-50-deprecated: #0078d4 !default;
$palette-blue-60-deprecated: #0065b3 !default;
$palette-blue-70-deprecated: #00579a !default;
$palette-blue-80-deprecated: #004173 !default;
$palette-blue-90-deprecated: #002b4d !default;
$palette-blue-100-deprecated: #000a13 !default;

$palette-blue-10: #ebf3fc !default;
$palette-blue-20: #cfe4fa !default;
$palette-blue-30: #a9d3f2 !default;
$palette-blue-40: #b4d6fa !default;
$palette-blue-50: #9abfdc !default;
$palette-blue-60: #77b7f7 !default;
$palette-blue-70: #62abf5 !default;
$palette-blue-80: #479ef5 !default;
$palette-blue-90: #2886de !default;
$palette-blue-100: #0078d4 !default;
$palette-blue-110: #0f6cbd !default;
$palette-blue-120: #115ea3 !default;
$palette-blue-130: #0f548c !default;
$palette-blue-140: #004e8c !default;
$palette-blue-150: #0e4775 !default;
$palette-blue-160: #004377 !default;
$palette-blue-170: #0c3b5e !default;
$palette-blue-180: #0a2e4a !default;
$palette-blue-190: #002c4e !default;
$palette-blue-200: #082338 !default;

$palette-blue-a: #9ccbee !default;

$palette-blue-opacity-30: hsl(206deg 100% 35% / 30%);
$palette-blue-opacity-70: hsl(206deg 100% 35% / 70%);

$palette-blue-black: #091f2c !default;

// Navy

$palette-navy-10: #dfe5ee !default;
$palette-navy-20: #c1cbdc !default;
$palette-navy-30: #a4b2c9 !default;
$palette-navy-40: #899ab5 !default;
$palette-navy-50: #70819f !default;
$palette-navy-60: #4a5d7e !default;
$palette-navy-70: #243a5e !default;
$palette-navy-80: #14294c !default;
$palette-navy-90: #061329 !default;
$palette-navy-100: #000910 !default;

$palette-navy-opacity-30: hsl(262deg 46% 17% / 30%) !default;
$palette-navy-opacity-70: hsl(262deg 46% 17% / 70%) !default;

// Turqoise

$palette-turqoise-10-deprecated: #e9fbff !default;
$palette-turqoise-20-deprecated: #bdf5ff !default;
$palette-turqoise-30-deprecated: #7becff !default;
$palette-turqoise-40-deprecated: #50e6ff !default;
$palette-turqoise-50-deprecated: #41b9cf !default;
$palette-turqoise-60-deprecated: #328e9f !default;
$palette-turqoise-70-deprecated: #28727f !default;
$palette-turqoise-80-deprecated: #19474f !default;
$palette-turqoise-90-deprecated: #0f2a2f !default;
$palette-turqoise-100-deprecated: #050e0f !default;

$palette-turqoise-10: #1aebff !default;

$palette-turqoise-opacity-30-deprecated: hsl(189deg 52% 12% / 30%) !default;
$palette-turqoise-opacity-70-deprecated: hsl(189deg 52% 12% / 70%) !default;

// Green

$palette-green-10: #dff6dd !default;
$palette-green-20: #acd7aa !default;
$palette-green-30: #7cbb7b !default;
$palette-green-40: #489d48 !default;
$palette-green-50: #2a8b2a !default;
$palette-green-60: #107c10 !default;
$palette-green-70: #0b6413 !default;
$palette-green-80: #054b16 !default;
$palette-green-90: #05350c !default;
$palette-green-100: #061a00 !default;

$palette-green-opacity-30: hsl(120deg 37% 45% / 30%) !default;
$palette-green-opacity-70: hsl(120deg 37% 45% / 70%) !default;

// Purple

$palette-purple-10: #efd9fd !default;
$palette-purple-20: #e0b7fe !default;
$palette-purple-30: #d59dff !default;
$palette-purple-40: #ac7ee1 !default;
$palette-purple-50: #9970d3 !default;
$palette-purple-60: #8661c5 !default;
$palette-purple-70: #624991 !default;
$palette-purple-80: #3b2e58 !default;
$palette-purple-90: #201843 !default;
$palette-purple-100: #03002c !default;

$palette-purple-a: #cd9bcf !default;
$palette-purple-b: #702573 !default; // light
$palette-purple-c: #b84dc6 !default;

$palette-purple-opacity-30: hsl(251deg 47% 18% / 30%) !default;
$palette-purple-opacity-70: hsl(251deg 47% 18% / 70%) !default;

// Yellow

$palette-yellow-10: #fff4ce !default;
$palette-yellow-20: #ffe79f !default;
$palette-yellow-30: #ffdf84 !default;
$palette-yellow-40: #ffcb3f !default;
$palette-yellow-50: #ffb900 !default;
$palette-yellow-60: #d19501 !default;
$palette-yellow-70: #966802 !default;
$palette-yellow-80: #6a4b16 !default;
$palette-yellow-90: #4f340e !default;
$palette-yellow-100: #2d1703 !default;

$palette-yellow-opacity-30: hsl(44deg 100% 50% / 30%) !default;
$palette-yellow-opacity-70: hsl(44deg 100% 50% / 70%) !default;

$palette-yellow-sand: #e8e6df !default;

// Red

$palette-red-10-deprecated: #fde7e9 !default;
$palette-red-20-deprecated: #e5a7a8 !default;
$palette-red-30-deprecated: #d4797a !default;
$palette-red-40-deprecated: #c54f4f !default;
$palette-red-50-deprecated: #b62626 !default;
$palette-red-60-deprecated: #a80000 !default;
$palette-red-70-deprecated: #870000 !default;
$palette-red-80-deprecated: #630001 !default;
$palette-red-90-deprecated: #470001 !default;
$palette-red-100-deprecated: #290001 !default;

$palette-red-10: #fdf3f4 !default;
$palette-red-20: #fdf6f6 !default;
$palette-red-30: #f1bbbc !default;
$palette-red-40: #eeacb2 !default;
$palette-red-50: #d69ca5 !default;
$palette-red-60: #e37d80 !default;
$palette-red-70: #dc626d !default;
$palette-red-80: #dc5e62 !default;
$palette-red-90: #ac4f5e !default;
$palette-red-100: #d13438 !default;
$palette-red-110: #bc2f32 !default;
$palette-red-120: #c50f1f !default;
$palette-red-130: #b10e1c !default;
$palette-red-140: #751d1f !default;
$palette-red-150: #750b1c !default;
$palette-red-160: #6e0811 !default;
$palette-red-170: #590815 !default;
$palette-red-180: #420610 !default;
$palette-red-190: #3b0509 !default;
$palette-red-200: #3f1011 !default;

$palette-red-opacity-30: hsl(0deg 100% 33% / 30%) !default;
$palette-red-opacity-70: hsl(0deg 100% 33% / 70%) !default;

// High Contrast

$palette-yellow-high-contrast: #ff0 !default;
$palette-yellow-high-contrast-hover: #ff3 !default;
$palette-visited-high-contrast: #3cff00 !default;

//@end-sass-export-section
