// The Atlas palette contains colors used within themes.
// To ensure theme fidelity, avoid using $palette-* variables outside of themes.scss.

/*
Notes:

*/

// Monochrome

$palette-grey-10: #fafafa !default;
$palette-grey-20: #F2F2F2 !default;
$palette-grey-30: #E6E6E6 !default;
$palette-grey-40: #D2D2D2 !default;
$palette-grey-50: #BCBCBC !default;
$palette-grey-60: #A2A2A2 !default; 
$palette-grey-70: #8E8E8E !default; 
$palette-grey-80: #757575 !default; 
$palette-grey-90: #505050 !default; 
$palette-grey-100: #404040 !default;
$palette-grey-110: #2F2F2F !default;
$palette-grey-120: #171717 !default;

// Black

$palette-black: #000000 !default;

$palette-black-opacity-90: #000000E6 !default;
$palette-black-opacity-80: #000000CC !default;
$palette-black-opacity-70: #000000B3 !default;
$palette-black-opacity-60: #00000099 !default;
$palette-black-opacity-50: #00000080 !default;
$palette-black-opacity-40: #00000066 !default;
$palette-black-opacity-30: #0000004D !default;
$palette-black-opacity-20: #00000033 !default;
$palette-black-opacity-10: #0000001A !default;
$palette-black-opacity-0: #000000 !default;

// White

$palette-white:#FFFFFF !default;

$palette-white-opacity-0: #ffffff00;
$palette-white-opacity-10:#ffffff1A;
$palette-white-opacity-20:#ffffff33;
$palette-white-opacity-30: #ffffff4D;
$palette-white-opacity-40: #ffffff66;
$palette-white-opacity-50: #ffffff80;
$palette-white-opacity-60: #ffffff99;
$palette-white-opacity-70: #ffffffB3;
$palette-white-opacity-80: #ffffffCC;
$palette-white-opacity-90: #ffffffE6;

// Values used for shadows

$palette-black-opacity-108: hsla(0, 0%, 0%, 0.11) !default;
$palette-black-opacity-132: hsla(0, 0%, 0%, 0.13) !default;

$palette-black-opacity-22: hsla(0, 0%, 0%, 0.22) !default;
$palette-black-opacity-18: hsla(0, 0%, 0%, 0.18) !default;

$palette-white-opacity-108: hsla(0, 0%, 100%, 0.11) !default;
$palette-white-opacity-132: hsla(0, 0%, 100%, 0.13) !default;

$palette-white-opacity-22: hsla(0, 0%, 100%, 0.22) !default;
$palette-white-opacity-18: hsla(0, 0%, 100%, 0.18) !default;

// Blue

$palette-blue-10:#D7EAF8 !default;
$palette-blue-20: #9CCBEE !default;
$palette-blue-30: #75B6E7 !default;
$palette-blue-40: #278CDA !default;
$palette-blue-50: #0078D4 !default;
$palette-blue-60: #0065B3 !default;
$palette-blue-70: #00579A !default;
$palette-blue-80: #004173 !default;
$palette-blue-90: #002B4D !default;
$palette-blue-100: #000A13 !default;

$palette-blue-opacity-30: #0065B34D ;
$palette-blue-opacity-70: #0065B3B3 ;

// Navy

$palette-navy-10: #DFE5EE !default;
$palette-navy-20: #C1CBDC !default;
$palette-navy-30: #A4B2C9 !default;
$palette-navy-40: #899AB5 !default;
$palette-navy-50: #70819F !default;
$palette-navy-60: #4A5D7E !default;
$palette-navy-70: #243A5E !default;
$palette-navy-80: #14294C !default;
$palette-navy-90: #061329 !default;
$palette-navy-100: #000910 !default;

$palette-navy-opacity-30:#26173F4D !default;
$palette-navy-opacity-70: #26173FB3 !default;

// Turqoise

$palette-turqoise-10: #E9FBFF !default;
$palette-turqoise-20: #BDF5FF !default;
$palette-turqoise-30: #7BECFF !default;
$palette-turqoise-40: #50E6FF !default;
$palette-turqoise-50: #41B9CF !default;
$palette-turqoise-60: #328E9F !default;
$palette-turqoise-70: #28727F !default;
$palette-turqoise-80: #19474F !default;
$palette-turqoise-90: #0F2A2F !default;
$palette-turqoise-100: #050E0F !default;

$palette-navy-opacity-30: #0F2A2F4D !default;
$palette-navy-opacity-70: #0F2A2FB3 !default;

// Green 

$palette-green-10: #dff6dd !default;
$palette-green-20: #acd7aa !default;
$palette-green-30: #7cbb7b !default;
$palette-green-40: #489d48 !default;
$palette-green-50: #2a8b2a !default;
$palette-green-60: #107c10 !default;
$palette-green-70: #0b6413 !default;
$palette-green-80: #054b16 !default;
$palette-green-90: #05350c !default;
$palette-green-100: #061a00 !default;

$palette-green-opacity-30: 	#489D484D !default;
$palette-green-opacity-70: 	#489D48B3 !default;

// Purple 

$palette-purple-10: #efd9fd !default;
$palette-purple-20: #e0b7fe !default;
$palette-purple-30: #d59dff !default;
$palette-purple-40: #ac7ee1 !default;
$palette-purple-50: #9970d3 !default;
$palette-purple-60: #8661c5 !default;
$palette-purple-70: #624991 !default;
$palette-purple-80: #3b2e58 !default;
$palette-purple-90: #201843 !default;
$palette-purple-100: #03002c !default;

$palette-purple-opacity-30: #2018434D !default;
$palette-purple-opacity-70: #201843B3 !default;

// Yellow

$palette-yellow-10: #fff4ce hsla(47, 100%, 90%, 1) !default;
$palette-yellow-20: #ffe79f hsla(45, 100%, 81%, 1) !default;
$palette-yellow-30: #ffdf84 hsla(44, 100%, 76%, 1) !default;
$palette-yellow-40: #ffcb3f hsla(44, 100%, 62%, 1) !default;
$palette-yellow-50: #ffb900 hsla(44, 100%, 50%, 1) !default;
$palette-yellow-60: #d19501 hsla(43, 99%, 41%, 1) !default;
$palette-yellow-70: #966802 hsla(41, 97%, 30%, 1) !default;
$palette-yellow-80: #6a4b16 hsla(38, 66%, 25%, 1) !default;
$palette-yellow-90: #4f340e hsla(35, 70%, 18%, 1) !default;
$palette-yellow-100: #2d1703 hsla(29, 88%, 9%, 1) !default;

$palette-yellow-opacity-30: #ffbb004D !default;
$palette-yellow-opacity-70: #ffbb00B3 !default;

// Red COMPLETE

$palette-red-10: #FDE7E9 !default;
$palette-red-20: #E5A7A8 !default;
$palette-red-30: #D4797A !default;
$palette-red-40: #C54F4F !default;
$palette-red-50: #B62626 !default;
$palette-red-60: #A80000 !default;
$palette-red-70: #870000 !default;
$palette-red-80: #630001 !default;
$palette-red-90: #470001 !default;
$palette-red-100: #290001 !default;

$palette-red-opacity-30: #a800004D !default;
$palette-red-opacity-70: #a80000B3 !default;

// High Contrast

$palette-yellow-high-contrast: #FFFF00FF !default;
$palette-yellow-high-contrast-hover: #FFFF33FF !default;
$palette-visited-high-contrast:	#3CFF00FF !default;
