/**
 * @sass-export-section="shadow"
 */
$box-shadow-light: 0 1.6px 3.6px 0 $box-shadow-color-medium, 0 0.3px 0.9px 0 $box-shadow-color-light !default;
$box-shadow-medium: 0 3.2px 7.2px 0 $box-shadow-color-medium,
	0 0.6px 1.8px 0 $box-shadow-color-light !default;
$box-shadow-heavy: 0 6.4px 14.4px 0 $box-shadow-color-medium,
	0 1.2px 3.6px 0 $box-shadow-color-light !default;
$box-shadow-extra-heavy: 0 25.6px 57.6px 0 $box-shadow-color-extra-heavy,
	0 4.8px 14.4px 0 $box-shadow-color-heavy !default;
//@end-sass-export-section
