$layout-0: 0 !default; // 0
$layout-1: 1rem !default; // 16px
$layout-2: 1.5rem !default; // 24px
$layout-3: 2rem !default; // 32px
$layout-4: 3rem !default; // 48px
$layout-5: 4rem !default; // 64px
$layout-6: 6rem !default; // 96px;
$layout-7: 8rem !default; // 128px;