/**
 * @sass-export-section="spacing"
 */
$layout-0: 0 !default; // 0
$layout-1: 0.5rem !default; // 8px
$layout-2: 1rem !default; // 16px
$layout-3: 1.5rem !default; // 24px
$layout-4: 2rem !default; // 32px
$layout-5: 3rem !default; // 48px
$layout-6: 4rem !default; // 64px
$layout-7: 6rem !default; // 96px;
$layout-8: 8rem !default; // 128px;

$spacer-0: 0 !default; // 0
$spacer-1: 0.125rem !default; // 2px
$spacer-2: 0.25rem !default; // 4px
$spacer-3: 0.5rem !default; // 8px
$spacer-4: 0.75rem !default; // 12px
$spacer-5: 1rem !default; // 16px
$spacer-6: 1.25rem !default; // 20px
$spacer-7: 1.5rem !default; // 24px
$spacer-8: 2rem !default; // 32px
$spacer-9: 2.5rem !default; // 40px
$spacer-10: 3rem !default; // 48px
//@end-sass-export-section
