$table-border-width: 1px;

$table-caption-size: $font-size-9;
$table-caption-spacing: $spacer-1;

$table-cell-padding-xxs: $spacer-4;
$table-cell-padding-xs: $spacer-5;

$table-cell-narrow-width: 15%;
