/**
 * @sass-export-section="themes"
 */
$themes: (
	'light': (
		'text': $palette-grey-120,
		'text-subtle': $palette-grey-90,
		'text-invert': $palette-white,
		'text-glow-high-contrast': $palette-grey-120,
		'box-shadow-light': $palette-black-opacity-108,
		'box-shadow-medium': $palette-black-opacity-132,
		'box-shadow-heavy': $palette-black-opacity-18,
		'box-shadow-extra-heavy': $palette-black-opacity-22,
		'overlay': $palette-black-opacity-70,
		'overlay-invert': $palette-white,
		'body-background': $palette-white,
		'body-background-medium': $palette-grey-20,
		'alternate-background': $palette-grey-120,
		'alternate-background-medium': $palette-grey-110,
		'border': $palette-grey-30,
		'table-header': $palette-grey-30,
		'table-row': $palette-grey-20,
		'table-row-header': $palette-grey-10,
		'table-border-dark': $palette-grey-40,
		'hover-base': $palette-grey-110,
		'hover-invert': $palette-grey-10,
		'border-white-high-contrast': $palette-white-opacity-0,
		'border-yellow-high-contrast': $palette-black-opacity-0,
		'code-header': $palette-grey-30,
		'code-block': $palette-grey-20,
		'control-border': $palette-grey-80,
		'inline-code': $palette-grey-30,
		'code-highlight-background': $palette-yellow-10,
		'visited': $palette-purple-70,
		'score-low-off': $palette-red-opacity-30,
		'score-low': $palette-red-50,
		'score-medium-off': $palette-yellow-opacity-30,
		'score-medium': $palette-yellow-50,
		'score-high-off': $palette-green-opacity-30,
		'score-high': $palette-green-50,
		'hyperlink': $palette-blue-60,
		'primary-base': $palette-blue-50,
		'primary-background': $palette-blue-10,
		'primary-background-glow-high-contrast': $palette-blue-10,
		'primary-dark': $palette-blue-80,
		'primary-hover': $palette-blue-60,
		'primary-active': $palette-blue-70,
		'primary-box-shadow': $palette-blue-opacity-30,
		'primary-invert': $palette-white,
		'secondary-base': $palette-grey-60,
		'secondary-background': $palette-grey-30,
		'secondary-background-glow-high-contrast': $palette-grey-30,
		'secondary-dark': $palette-grey-110,
		'secondary-hover': $palette-grey-40,
		'secondary-active': $palette-grey-40,
		'secondary-box-shadow': $palette-black-opacity-30,
		'secondary-invert': $palette-black,
		'tertiary-base': $palette-navy-70,
		'tertiary-background': $palette-navy-90,
		'tertiary-background-glow-high-contrast': $palette-navy-90,
		'tertiary-dark': $palette-navy-30,
		'tertiary-hover': $palette-navy-80,
		'tertiary-active': $palette-navy-50,
		'tertiary-box-shadow': $palette-navy-opacity-30,
		'tertiary-invert': $palette-white,
		'success-base': $palette-green-60,
		'success-background': $palette-green-10,
		'success-background-glow-high-contrast': $palette-green-10,
		'success-dark': $palette-green-80,
		'success-hover': $palette-green-70,
		'success-active': $palette-green-80,
		'success-box-shadow': $palette-green-opacity-30,
		'success-invert': $palette-white,
		'info-base': $palette-purple-60,
		'info-background': $palette-purple-10,
		'info-background-glow-high-contrast': $palette-purple-10,
		'info-dark': $palette-purple-80,
		'info-hover': $palette-purple-60,
		'info-active': $palette-purple-70,
		'info-box-shadow': $palette-purple-opacity-30,
		'info-invert': $palette-white,
		'warning-base': $palette-yellow-50,
		'warning-background': $palette-yellow-10,
		'warning-background-glow-high-contrast': $palette-yellow-10,
		'warning-dark': $palette-yellow-80,
		'warning-hover': $palette-yellow-60,
		'warning-active': $palette-yellow-70,
		'warning-box-shadow': $palette-yellow-opacity-30,
		'warning-invert': $palette-black,
		'danger-base': $palette-red-60,
		'danger-background': $palette-red-10,
		'danger-background-glow-high-contrast': $palette-red-10,
		'danger-dark': $palette-red-90,
		'danger-hover': $palette-red-70,
		'danger-active': $palette-red-80,
		'danger-box-shadow': $palette-red-opacity-30,
		'danger-invert': $palette-white,
		'facepile-red': $palette-red-60,
		'facepile-teal': $palette-turqoise-60,
		'facepile-blue': $palette-blue-50
	),
	'dark': (
		'text': $palette-grey-30,
		'text-subtle': $palette-grey-40,
		'text-invert': $palette-grey-110,
		'text-glow-high-contrast': $palette-grey-30,
		'box-shadow-light': $palette-black-opacity-108,
		'box-shadow-medium': $palette-black-opacity-132,
		'box-shadow-heavy': $palette-black-opacity-18,
		'box-shadow-extra-heavy': $palette-black-opacity-22,
		'overlay': $palette-black-opacity-70,
		'overlay-invert': $palette-white,
		'body-background': $palette-grey-120,
		'body-background-medium': $palette-grey-110,
		'alternate-background': $palette-grey-20,
		'alternate-background-medium': $palette-grey-10,
		'border': $palette-grey-100,
		'table-header': $palette-grey-100,
		'table-row': $palette-grey-110,
		'table-row-header': $palette-grey-110,
		'table-border-dark': $palette-grey-90,
		'hover-base': $palette-grey-40,
		'hover-invert': $palette-grey-110,
		'border-white-high-contrast': $palette-white-opacity-0,
		'border-yellow-high-contrast': $palette-black-opacity-0,
		'code-header': $palette-grey-100,
		'code-block': $palette-grey-110,
		'control-border': $palette-grey-40,
		'inline-code': $palette-grey-100,
		'code-highlight-background': $palette-green-70,
		'visited': $palette-purple-40,
		'score-low-off': $palette-red-opacity-70,
		'score-low': $palette-red-50,
		'score-medium-off': $palette-yellow-opacity-30,
		'score-medium': $palette-yellow-40,
		'score-high-off': $palette-green-opacity-70,
		'score-high': $palette-green-40,
		'hyperlink': $palette-blue-30,
		'primary-base': $palette-blue-30,
		'primary-background': $palette-blue-80,
		'primary-background-glow-high-contrast': $palette-blue-80,
		'primary-dark': $palette-blue-20,
		'primary-hover': $palette-blue-40,
		'primary-active': $palette-blue-50,
		'primary-box-shadow': $palette-blue-opacity-30,
		'primary-invert': $palette-black,
		'secondary-base': $palette-grey-80,
		'secondary-background': $palette-grey-100,
		'secondary-background-glow-high-contrast': $palette-grey-100,
		'secondary-dark': $palette-grey-30,
		'secondary-hover': $palette-grey-70,
		'secondary-active': $palette-grey-60,
		'secondary-box-shadow': $palette-black-opacity-70,
		'secondary-invert': $palette-white,
		'tertiary-base': $palette-grey-100,
		'tertiary-background': $palette-grey-120,
		'tertiary-background-glow-high-contrast': $palette-grey-120,
		'tertiary-dark': $palette-grey-30,
		'tertiary-hover': $palette-grey-90,
		'tertiary-active': $palette-grey-80,
		'tertiary-box-shadow': $palette-blue-opacity-30,
		'tertiary-invert': $palette-white,
		'success-base': $palette-green-30,
		'success-background': $palette-green-80,
		'success-background-glow-high-contrast': $palette-green-80,
		'success-dark': $palette-green-10,
		'success-hover': $palette-green-40,
		'success-active': $palette-green-30,
		'success-box-shadow': $palette-green-opacity-70,
		'success-invert': $palette-black,
		'info-base': $palette-purple-50,
		'info-background': $palette-purple-80,
		'info-background-glow-high-contrast': $palette-purple-80,
		'info-dark': $palette-purple-10,
		'info-hover': $palette-purple-40,
		'info-active': $palette-purple-30,
		'info-box-shadow': $palette-purple-opacity-70,
		'info-invert': $palette-black,
		'warning-base': $palette-yellow-50,
		'warning-background': $palette-yellow-80,
		'warning-background-glow-high-contrast': $palette-yellow-80,
		'warning-dark': $palette-yellow-10,
		'warning-hover': $palette-yellow-40,
		'warning-active': $palette-yellow-30,
		'warning-box-shadow': $palette-yellow-opacity-70,
		'warning-invert': $palette-black,
		'danger-base': $palette-red-20,
		'danger-background': $palette-red-80,
		'danger-background-glow-high-contrast': $palette-red-80,
		'danger-dark': $palette-red-10,
		'danger-hover': $palette-red-40,
		'danger-active': $palette-red-30,
		'danger-box-shadow': $palette-red-opacity-70,
		'danger-invert': $palette-black,
		'facepile-red': $palette-red-40,
		'facepile-teal': $palette-turqoise-40,
		'facepile-blue': $palette-blue-40
	),
	'high-contrast': (
		'text': $palette-white,
		'text-subtle': $palette-white,
		'text-invert': $palette-black,
		'text-glow-high-contrast': $palette-yellow-high-contrast,
		'box-shadow-light': $palette-black-opacity-108,
		'box-shadow-medium': $palette-black-opacity-132,
		'box-shadow-heavy': $palette-black-opacity-18,
		'box-shadow-extra-heavy': $palette-black-opacity-22,
		'overlay': $palette-grey-100,
		'overlay-invert': $palette-white,
		'body-background': $palette-black,
		'body-background-medium': $palette-black,
		'alternate-background': $palette-white,
		'alternate-background-medium': $palette-white,
		'border': $palette-white,
		'table-header': $palette-grey-90,
		'table-row': $palette-black,
		'table-row-header': $palette-grey-120,
		'table-border-dark': $palette-white,
		'hover-base': $palette-yellow-high-contrast,
		'hover-invert': $palette-black,
		'border-white-high-contrast': $palette-white,
		'border-yellow-high-contrast': $palette-yellow-high-contrast,
		'code-header': $palette-black,
		'code-block': $palette-black,
		'control-border': $palette-white,
		'inline-code': $palette-grey-110,
		'code-highlight-background': $palette-green-70,
		'visited': $palette-visited-high-contrast,
		'score-low-off': $palette-red-60,
		'score-low': $palette-red-10,
		'score-medium-off': $palette-yellow-opacity-70,
		'score-medium': $palette-yellow-20,
		'score-high-off': $palette-green-60,
		'score-high': $palette-green-10,
		'hyperlink': $palette-yellow-high-contrast,
		'primary-base': $palette-yellow-high-contrast,
		'primary-background': $palette-black,
		'primary-background-glow-high-contrast': $palette-yellow-high-contrast,
		'primary-dark': $palette-yellow-high-contrast,
		'primary-hover': $palette-yellow-high-contrast-hover,
		'primary-active': $palette-yellow-high-contrast-hover,
		'primary-box-shadow': $palette-white,
		'primary-invert': $palette-black,
		'secondary-base': $palette-grey-30,
		'secondary-background': $palette-black,
		'secondary-background-glow-high-contrast': $palette-grey-90,
		'secondary-dark': $palette-grey-30,
		'secondary-hover': $palette-grey-40,
		'secondary-active': $palette-grey-40,
		'secondary-box-shadow': $palette-grey-30,
		'secondary-invert': $palette-black,
		'tertiary-base': $palette-white,
		'tertiary-background': $palette-black,
		'tertiary-background-glow-high-contrast': $palette-white,
		'tertiary-dark': $palette-white,
		'tertiary-hover': $palette-grey-30,
		'tertiary-active': $palette-grey-30,
		'tertiary-box-shadow': $palette-white,
		'tertiary-invert': $palette-black,
		'success-base': $palette-green-30,
		'success-background': $palette-black,
		'success-background-glow-high-contrast': $palette-green-30,
		'success-dark': $palette-green-20,
		'success-hover': $palette-green-20,
		'success-active': $palette-green-20,
		'success-box-shadow': $palette-white,
		'success-invert': $palette-black,
		'info-base': $palette-purple-20,
		'info-background': $palette-black,
		'info-background-glow-high-contrast': $palette-purple-20,
		'info-dark': $palette-purple-10,
		'info-hover': $palette-purple-10,
		'info-active': $palette-purple-10,
		'info-box-shadow': $palette-white,
		'info-invert': $palette-black,
		'warning-base': $palette-yellow-20,
		'warning-background': $palette-black,
		'warning-background-glow-high-contrast': $palette-yellow-20,
		'warning-dark': $palette-yellow-10,
		'warning-hover': $palette-yellow-10,
		'warning-active': $palette-yellow-10,
		'warning-box-shadow': $palette-white,
		'warning-invert': $palette-black,
		'danger-base': $palette-red-20,
		'danger-background': $palette-black,
		'danger-background-glow-high-contrast': $palette-red-20,
		'danger-dark': $palette-red-10,
		'danger-hover': $palette-red-10,
		'danger-active': $palette-red-10,
		'danger-box-shadow': $palette-white,
		'danger-invert': $palette-black,
		'facepile-red': $palette-red-30,
		'facepile-teal': $palette-turqoise-30,
		'facepile-blue': $palette-blue-30
	)
) !default;
//@end-sass-export-section
