/**
 * @sass-export-section="z-index"
 */
// Element states
$zindex-active: 1;
$zindex-hover: 2;
$zindex-focus: 3;
$zindex-multi: 4;

// Components
$zindex-dropdown: 1000;
$zindex-sticky: 1020;
$zindex-fixed: 1030;
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060;
$zindex-tooltip: 1070;

$zindex-stretched-link: 1 !default;
//@end-sass-export-section
