// https://bugs.chromium.org/p/chromium/issues/detail?id=589475&q=details%20box-sizing&can=2

details,
details > * {
	box-sizing: border-box !important;
}

:is(a) {
	color: $hyperlink;
}

:is(a:visited) {
	color: $visited;
}
