@if ($focus-visible-use-polyfill) {
	.js-focus-visible .has-default-focus *:focus:not(.focus-visible) {
		outline: none;
	}

	.focus-visible.has-inner-focus {
		outline-offset: -$focus-outline-offset;
	}

	.has-default-focus {
		.is-focused,
		.focus-visible {
			@include focus();

			&.has-inner-focus {
				outline-color: currentColor;
				outline-offset: -$focus-outline-offset;
			}
		}
	}
} @else {
	*:focus-visible {
		@include focus();

		&.has-inner-focus {
			outline-color: currentColor;
			outline-offset: -$focus-outline-offset;
		}
	}
}
