/* stylelint-disable selector-max-specificity, selector-no-qualifying-type */
$accordion-font-size-sm: $font-size-9 !default;
$accordion-font-size-md: $font-size-8 !default;
$accordion-font-size-lg: $font-size-7 !default;

$accordion-spacing-xs: $spacer-2 !default;
$accordion-spacing-sm: $spacer-3 !default;
$accordion-spacing-md: $spacer-4 !default;
$accordion-spacing-lg: $spacer-5 !default;

$accordion-transition: transform 0.15s !default;

// Spacing and font-size

@mixin accordion-summary-sizes($font-size, $padding-size) {
	$icon-before-offset-size: calc($font-size - 0.375rem);
	$icon-after-offset-size: calc($font-size - 0.5rem);

	.accordion-content,
	summary {
		padding-block: $padding-size;
	}

	summary {
		font-size: $font-size;
	}

	&:not(.accordion-icon-end) summary {
		&::before {
			margin-block-start: $icon-before-offset-size;
		}
	}

	&.accordion-icon-end summary {
		&::after {
			margin-block-start: $icon-after-offset-size;
		}
	}
}

.accordion {
	@include accordion-summary-sizes($accordion-font-size-md, $accordion-spacing-md);

	summary {
		display: flex;
		line-height: 1.5;
		cursor: pointer;

		> &:hover {
			color: $primary-hover;

			&::before,
			&::after {
				border-color: $primary-hover;
			}
		}

		.accordion-header {
			flex-grow: 1;
		}
	}

	&:not(.accordion-icon-end) {
		summary::before {
			@include chevron-right;

			margin-inline-end: $accordion-spacing-sm;
			transition: $accordion-transition;
		}

		&:dir(rtl) summary::before {
			@include chevron-right-rtl;
		}
	}

	&.accordion-icon-end {
		summary::after {
			@include chevron-down;

			margin-inline-start: $accordion-spacing-sm;
			transition: $accordion-transition;
		}

		&:dir(rtl) summary::after {
			@include chevron-down-rtl;
		}
	}

	&[open] {
		&:not(.accordion-icon-end) {
			summary::before {
				transform: $chevron-down-rotate translate(calc($chevron-arrow-size / 2), 0);
			}

			&:dir(rtl) summary::before {
				transform: $chevron-down-rotate-rtl translate(calc($chevron-arrow-size / 2 * -1), 0);
			}
		}

		&.accordion-icon-end {
			summary::after {
				transform: $chevron-up-rotate-scale-xy;
			}

			&:dir(rtl) summary::after {
				transform: $chevron-up-rotate-scale-xy-rtl;
			}
		}
	}

	.accordion-content {
		font-size: $accordion-font-size-md;
	}

	// Sizes

	&.accordion-lg {
		@include accordion-summary-sizes($accordion-font-size-lg, $accordion-spacing-lg);
	}

	&.accordion-sm {
		@include accordion-summary-sizes($accordion-font-size-sm, $accordion-spacing-sm);
	}
}
