/* stylelint-disable selector-no-qualifying-type */
$accordion-font-size-sm: $font-size-8 !default;
$accordion-font-size-md: $font-size-7 !default;
$accordion-font-size-lg: $font-size-6 !default;

$accordion-spacing-xs: $spacer-2 !default;
$accordion-spacing-sm: $spacer-3 !default;
$accordion-spacing-md: $spacer-4 !default;
$accordion-spacing-lg: $spacer-5 !default;
$accordion-spacing-offset-sm: $spacer-6 !default;
$accordion-spacing-offset-md: $spacer-7 !default;
$accordion-spacing-offset-lg: $spacer-8 !default;

$accordion-transition: transform 0.15s !default;

// Spacing and font-size

@mixin accordion-summary-sizes($font-size, $padding-size, $icon-offset) {
	$bg-icon-offset: calc($icon-offset + 0.25rem);

	.accordion-content,
	summary {
		padding-block: $padding-size;
	}

	summary {
		font-size: $font-size;

		&:not(.accordion-icon-end) {
			padding-inline-start: $icon-offset;

			&::before {
				inset-block-start: calc($control-padding-horizontal + $padding-size);
			}
		}

		&.accordion-icon-end {
			padding-inline-end: $icon-offset;

			&::after {
				inset-block-start: calc($padding-size * 1.5);
			}
		}
	}

	.accordion-content {
		padding-block: $padding-size;

		&[class*='background-color-'] {
			padding-inline: $padding-size;
		}
	}

	&[class*='background-color-'] {
		summary,
		.accordion-content {
			padding-inline: $padding-size;
		}

		summary {
			&:not(.accordion-icon-end) {
				padding-inline-start: $bg-icon-offset;

				&::before {
					inset-inline-start: $padding-size;
				}
			}

			&.accordion-icon-end {
				padding-inline-end: $bg-icon-offset;

				&::after {
					inset-inline-end: calc($accordion-spacing-xs + $padding-size);
				}
			}
		}
	}
}

.accordion {
	@include accordion-summary-sizes(
		$accordion-font-size-md,
		$accordion-spacing-md,
		$accordion-spacing-offset-md
	);

	line-height: 1.5;

	summary {
		display: block;
		position: relative;
		cursor: pointer;

		&:hover {
			color: $primary-hover;

			&::before,
			&::after {
				border-color: $primary-hover;
			}
		}

		&:not(.accordion-icon-end) {
			&::before {
				@include chevron-right;

				position: absolute;
				inset-inline-start: 0;
				transition: $accordion-transition;
			}
		}

		&.accordion-icon-end {
			&::after {
				@include chevron-down;

				position: absolute;
				inset-inline-end: $accordion-spacing-xs;
				transition: $accordion-transition;
			}
		}
	}

	&[class*='background-color-'] {
		&.accordion-icon-end {
			padding-inline-end: calc($control-padding-horizontal + $chevron-arrow-actual-width);
		}
	}

	&[open] {
		summary:not(.accordion-icon-end)::before {
			transform: $chevron-down-rotate translate(calc($chevron-arrow-size / 2), 0);
		}

		summary.accordion-icon-end::after {
			transform: $chevron-up-rotate;
		}
	}
}

// Sizes

.accordion-lg {
	@include accordion-summary-sizes(
		$accordion-font-size-lg,
		$accordion-spacing-lg,
		$accordion-spacing-offset-lg
	);
}

.accordion-sm {
	@include accordion-summary-sizes(
		$accordion-font-size-sm,
		$accordion-spacing-sm,
		$accordion-spacing-offset-sm
	);
}
