@use 'sass:map';

$button-color: $text !default;
$button-background-color: $body-background !default;

$button-large-font-size: $font-size-6 !default;
$button-small-font-size: $font-size-8 !default;
$button-x-small-font-size: $font-size-9 !default;

$button-border-color: $text-subtle !default;
$button-border-width: $control-border-width !default;
$button-border-radius: $radius-small;

$button-padding-vertical: calc(0.375em - #{$button-border-width}) !default;
$button-padding-horizontal: 0.75em !default;

$button-extra-small-padding-vertical: calc(0.375em - #{$button-border-width}) !default;
$button-extra-small-padding-horizontal: 1em !default;

$button-hover-color: $text !default;
$button-hover-border-color: $default-hover !default;
$button-hover-background-color: $default-hover-invert !default;

$button-focus-color: $text !default;
$button-focus-border-color: $primary !default;

$button-active-color: $text !default;
$button-active-border-color: $text !default;

$button-text-color: $text !default;
$button-text-hover-background-color: $body-background-medium !default;
$button-text-hover-color: $text !default;
$button-text-active-background-color: $body-background-medium !default;

$button-disabled-background-color: $body-background-medium !default;
$button-disabled-shadow: none !default;
$button-disabled-opacity: 0.5 !default;

@mixin button-x-small {
	padding: $button-extra-small-padding-vertical $button-extra-small-padding-horizontal;
	border-radius: $radius-small;
	font-size: $button-x-small-font-size;

	.icon {
		height: $button-x-small-font-size;
	}
}

@mixin button-small {
	border-radius: $radius-small;
	font-size: $button-small-font-size;

	.icon {
		height: $button-small-font-size;
	}
}

@mixin button-large {
	font-size: $button-large-font-size;

	.icon {
		height: $button-large-font-size;
	}
}

.button {
	@include control;
	@include unselectable;

	justify-content: center;
	padding-top: $button-padding-vertical;
	padding-#{$user-left}: $button-padding-horizontal;
	padding-#{$user-right}: $button-padding-horizontal;
	padding-bottom: $button-padding-vertical;
	border-width: $button-border-width;
	border-radius: $button-border-radius;
	border-color: $button-border-color;
	background-color: $button-background-color;
	color: $button-color;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;

	strong {
		color: inherit;
	}

	.icon {
		width: 1.5em;

		&:only-child {
			margin: 0 !important;
		}

		&:first-child:not(:only-child) {
			margin-#{$user-left}: calc(-0.375em - #{$button-border-width});
			margin-#{$user-right}: 0.1875em;
		}

		&:last-child:not(:only-child) {
			margin-#{$user-left}: 0.1875em;
			margin-#{$user-right}: calc(-0.375em - #{$button-border-width});
		}
	}

	// States

	&:hover,
	&.button-hovered {
		border-color: $button-hover-border-color;
		background-color: $button-hover-background-color;
		color: $button-hover-color;
	}

	&.focus-visible,
	&.button-focused {
		border-color: $button-focus-border-color;
		color: $button-focus-color;
	}

	&:visited {
		color: $button-color;
	}

	&:active,
	&.button-active {
		border-color: $button-active-border-color;
		color: $button-active-color;
	}

	@each $name, $color-set in $colors {
		$base: nth($color-set, $color-index-base);
		$dark: nth($color-set, $color-index-dark);
		$hover: nth($color-set, $color-index-hover);
		$active: nth($color-set, $color-index-active);
		$invert: nth($color-set, $color-index-invert);

		&.button-#{$name} {
			border-color: $base;
			background-color: $body-background;
			color: $dark;

			&:hover,
			&.focus-visible {
				border-color: $base;
				background-color: $base;
				color: $invert;
			}

			&.button-loading::after {
				@include loader;

				border-color: transparent transparent $base $base !important;
			}

			&.button-disabled,
			&[disabled] {
				border-color: $base;
				background-color: transparent;
				color: $base;
				box-shadow: none;
			}
		}
	}

	// Sizes

	&.button-extra-small {
		@include button-x-small;
	}

	&.button-small {
		@include button-small;
	}

	&.button-large {
		@include button-large;
	}

	// Modifiers

	&.button-disabled,
	&[disabled] {
		border-color: currentColor;
		background-color: $button-disabled-background-color;
		opacity: $button-disabled-opacity;
		box-shadow: $button-disabled-shadow;
	}

	&.button-full-width {
		display: flex;
		width: 100%;
	}

	&.button-loading {
		color: transparent !important;
		pointer-events: none;

		&::after {
			@include loader;
			@include center(1em);

			position: absolute !important;
			border-bottom-color: $text;
			border-left-color: $text;
		}
	}
}

// To ensure design fidelity, Atlas only enables one solid button by default.
$solid-button-colors: 'primary' !default;

@each $name in $solid-button-colors {
	$color-set: map.get($colors, $name);

	$base: nth($color-set, $color-index-base);
	$heavy: nth($color-set, $color-index-dark);
	$hover: nth($color-set, $color-index-hover);
	$active: nth($color-set, $color-index-active);
	$invert: nth($color-set, $color-index-invert);

	.button.button-#{$name}-solid {
		border-color: $base;
		background-color: $base;
		color: $invert;

		&:hover,
		&.is-hovered {
			border-color: $border-yellow-high-contrast;
			background-color: $hover;
			color: $invert;
		}

		&:visited {
			color: $invert;
		}

		&.focus-visible,
		&.is-focused {
			border-color: $border-white-high-contrast;
			color: $invert;
		}

		&:active,
		&.is-active {
			border-color: $border-white-high-contrast;
			background-color: $active;
			color: $invert;
		}

		&.is-disabled,
		&[disabled] {
			border-color: $border-white-high-contrast;
			background-color: $base;
			box-shadow: none;
		}

		&.is-loading::after {
			border-color: transparent transparent $invert $invert !important;
		}
	}
}

.button.button-text {
	border-color: transparent;
	background-color: transparent;
	color: $button-text-color;
	text-decoration: underline;

	&:hover,
	&.button-hovered,
	&.focus-visible,
	&.button-focused {
		background-color: $button-text-hover-background-color;
		color: $button-text-hover-color;
	}

	&:visited {
		color: $button-text-color;
	}

	&:active,
	&.button-active {
		background-color: $button-text-active-background-color;
		color: $button-text-hover-color;
	}

	&.button-disabled,
	&[disabled] {
		border-color: transparent;
		background-color: transparent;
		box-shadow: none;
	}
}

&.button-transparent {
	border-color: transparent;
	background-color: transparent;
	color: currentColor;

	&.button-bordered {
		border-color: currentColor;
	}

	&:hover {
		border-color: currentColor;
		background-color: transparentize(#fff, 0.95);
	}

	&:visited {
		color: currentColor;
	}

	&:active {
		border-color: currentColor;
		background-color: transparentize(#fff, 0.9);
	}
}
