@use '../tokens/index.scss' as tokens;
@use '../mixins/index.scss' as mixins;

.button-reset {
	@include mixins.transparent-effects;

	display: inline-block;
	padding: 0;
	border: 0;
	cursor: pointer;
}
