/* stylelint-disable selector-max-specificity, max-nesting-depth, selector-no-qualifying-type */

$checkbox-border-radius: $radius-sm !default;
$checkbox-border-color: $text !default;
$checkbox-color: $primary !default;
$checkbox-check-color: $primary-invert !default;
$checkbox-check-hover-color: $text-subtle !default;
$checkbox-size: 1.25em !default;
$checkbox-size-small: 1em !default;
$checkbox-icon-size: 0.85em !default;
$checkbox-icon-size-small: 0.7142em !default;
$checkbox-timing-function: $input-timing-function !default;
$checkbox-duration: $input-transition-duration !default;
$checkbox-spacing: $spacer-3;

.checkbox {
	display: flex;
	position: relative;
	align-items: center;
	line-height: 1.25;
	cursor: pointer;

	+ .checkbox {
		margin-top: $checkbox-spacing;
		margin-left: 0;
	}

	.checkbox-check {
		display: flex;
		flex-shrink: 0;
		align-items: center;
		justify-content: center;
		width: $checkbox-size;
		height: $checkbox-size;
		transition-duration: $checkbox-duration;
		transition-property: background, border, border-color;
		transition-timing-function: $checkbox-timing-function;
		border: 1px solid $checkbox-border-color;
		border-radius: $checkbox-border-radius;

		&:not(:last-child) {
			margin-#{$user-right}: 0.5rem;
		}

		&::before {
			font-size: $checkbox-icon-size;
			content: '\0020';
		}
	}

	&:hover {
		.checkbox-check::before {
			@include checkmark;
		}
	}

	&.checkbox-sm {
		font-size: $font-size-8;

		.checkbox-check {
			width: $checkbox-size-small !important;
			height: $checkbox-size-small !important;

			&::before {
				top: 0.2857em !important;
				width: calc($checkbox-icon-size-small / 2) !important;
				height: $checkbox-icon-size-small !important;
			}
		}
	}

	input[type='checkbox'] {
		@include visually-hidden();

		&:focus-visible + .checkbox-check {
			@extend %focus;
		}

		&:checked + .checkbox-check {
			border-color: $checkbox-color;
			background-color: $checkbox-color;

			&::before {
				@include checkmark;

				border-color: $checkbox-check-color;
			}
		}

		&[disabled] + .checkbox-check {
			opacity: 0.6;
			cursor: not-allowed;
		}
	}

	&.checkbox-muted {
		input[type='checkbox'] {
			&:checked + .checkbox-check {
				border-color: $text-subtle;
				background-color: $text-subtle;

				&::before {
					border-color: $text-invert;
				}
			}
		}
	}

	.checkbox-check.is-checked {
		border-color: $checkbox-color;
		background-color: $checkbox-color;

		&::before {
			@include checkmark;

			border-color: $checkbox-check-color;
		}
	}
}
