$code-block-font-size: $font-size-8 !default;
$code-block-border-color: $code-block-border !default;
$code-block-border-width: $border-width !default;
$code-block-border-radius: $border-radius !default;

$code-block-header-min-height: 2rem !default;
$code-block-header-color: $text !default;
$code-block-header-background-color: $code-header !default;
$code-block-header-font-weight: $weight-semibold !default;
$code-block-header-gap: $spacer-2 !default;
$code-block-header-padding-vertical: $spacer-1 !default;
$code-block-header-padding-horizontal: $spacer-4 $spacer-3 !default;

$code-block-control-padding: calc(0.125em - #{$button-border-width}) !default;

.code-block {
	position: relative;
	border: $code-block-border-width solid $code-block-border-color;
	border-radius: $code-block-border-radius;
	font-size: $code-block-font-size;
	overflow: hidden;

	.code-block-header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		min-height: $code-block-header-min-height;
		background-color: $code-block-header-background-color;
		color: $code-block-header-color;
		font-weight: $code-block-header-font-weight;
		gap: $code-block-header-gap;
		border-block-end: $code-block-border-width solid $code-block-border-color;
		padding-block: $code-block-header-padding-vertical;
		padding-inline: $code-block-header-padding-horizontal;

		@include tablet {
			flex-wrap: nowrap;
		}

		.code-block-header-language {
			flex-grow: 1;
		}

		.code-block-header-actions {
			display: flex;
			gap: $code-block-header-gap;
			margin-inline-start: auto;

			.code-block-header-action-button {
				min-height: auto;
				padding-block: $code-block-control-padding;
			}
		}
	}

	.code-block-body {
		@include code-block(true);
	}
}
