/* stylelint-disable selector-no-qualifying-type */
$details-color: $text !default;
$details-spacing-default: $spacer-5 !default;

details {
	padding: $spacer-3;
}

summary {
	display: flex;
	color: $details-color;
	cursor: pointer;

	&::before {
		@include chevron-right;

		display: flex;
		align-self: center;
		margin-inline-end: calc(($control-padding-horizontal + $chevron-arrow-actual-width));
	}
}

details[open] {
	summary {
		margin-block-end: $details-spacing-default;

		&::before {
			transform: rotate(-45deg) translate(calc($chevron-arrow-size / 2), 0);
		}
	}
}
