.dismiss {
	@include transparent-effects;

	display: inline-block;
	padding: 0;
	border: 0;
	border-radius: $border-radius-rounded;
	color: currentColor;
	line-height: 1;
	cursor: pointer;
}

.is-dismissed {
	animation: fade-out 0.4s ease-in forwards;
}
