@use '../tokens/index.scss' as tokens;
@use '../mixins/index.scss' as mixins;

$gradient-card-padding: tokens.$layout-2 !default;
$gradient-card-border-radius: tokens.$border-radius-lg !default; //6px

.gradient-card {
	border: tokens.$border-width-md solid transparent;
	border-radius: $gradient-card-border-radius;
	background: linear-gradient(90deg, tokens.$gradient-vivid-start, tokens.$gradient-vivid-end)
		border-box;

	.gradient-card-content {
		padding: $gradient-card-padding;
		border-radius: inherit;
		background-color: tokens.$body-background;
	}
}
