$gradient-card-padding: $layout-2 !default;
$gradient-card-icon-inline-spacing: 0.375em !default;
$gradient-card-icon-block-spacing: 0.2em !default;
$gradient-card-outer-border-radius-lg: $border-radius-lg !default; //6px
$gradient-card-inner-border-radius-lg: $border-radius !default; // 4px
$gradient-card-inner-border-radius: $border-radius-sm !default; // 2px
$gradient-card-inner-border-radius-sm: 0.0625rem !default; // 1px
$gradient-card-inner-border-radius-rounded: 290486px !default;

.gradient-card {
	border: $border-width-md solid transparent;
	border-radius: $gradient-card-outer-border-radius-lg;
	background: linear-gradient(90deg, $gradient-vivid-start, $gradient-vivid-end) border-box;

	&.border-radius-sm .gradient-card-content {
		border-radius: $gradient-card-inner-border-radius-sm;
	}

	&.border-radius .gradient-card-content {
		border-radius: $gradient-card-inner-border-radius;
	}

	&.border-radius-rounded .gradient-card-content {
		border-radius: $gradient-card-inner-border-radius-rounded;
	}

	.gradient-card-content {
		padding: $gradient-card-padding;
		background-color: $body-background;
		border-radius: $gradient-card-inner-border-radius-lg;
	}
}
