$border-gradient-colors: (
	'body': $body-background,
	'body-accent': $body-background-accent
) !default;

$border-gradient-themes: 'info-bright-to-primary' $info-bright $primary,
	'warning-to-danger' $warning $danger;

@each $name, $var in $border-gradient-colors {
	// ex. .gradient-border-body { --border-gradient-end-color: var(--theme-body-background); }
	.gradient-border-#{$name} {
		--border-gradient-end-color: #{$var};
	}
}

$border-gradient-direction: (
	'right': 'inline-end',
	'bottom': 'block-end'
) !default;

@each $direction, $logical-side in $border-gradient-direction {
	.gradient-border-#{$direction} {
		position: relative;
	}
	.gradient-border-#{$direction}:before {
		display: block;
		position: absolute;
		content: '';
		border-image: linear-gradient(
			to #{$direction},
			transparent 0%,
			transparent 92%,
			var(--border-gradient-end-color, transparent) 100%
		);
		border-#{$logical-side}-width: 320px;
		border-#{$logical-side}-style: solid;
		border-image-outset: 0;

		@if $direction == 'right' {
			border-image-slice: 0 128 0 0;
			inset-block-start: 0;
			inset-block-end: 0;
			inset-inline-end: 0;
		}

		@if $direction == 'bottom' {
			border-image-slice: 0 0 128 0;
			inset-block-end: 0;
			inset-inline-start: 0;
			inset-inline-end: 0;
		}

		@include forced-colors {
			display: none !important;
		}
	}

	@include tablet {
		.gradient-border-to-#{$direction}-tablet:before {
			border-image: linear-gradient(
				to #{$direction},
				transparent 0%,
				transparent 92%,
				var(--border-gradient-end-color) 100%
			);
			border-#{$logical-side}-width: 320px;
			border-#{$logical-side}-style: solid;
			border-image-outset: 0;

			@if $direction == 'right' {
				border-image-slice: 0 128 0 0;
			}

			@if $direction == 'bottom' {
				border-image-slice: 0 0 128 0;
			}
		}
	}
}

@each $name, $gradient in $gradients {
	$colorStart: nth($gradient, $gradient-color-start-index);
	$colorEnd: nth($gradient, $gradient-color-end-index);

	.gradient-text-#{$name} {
		@include gradient-text($colorStart, $colorEnd);
	}
}

@mixin border-fade($deg, $colorStart, $colorEnd) {
	border-color: transparent !important;
	background: linear-gradient(var(--theme-body-background) 0 0) padding-box,
		linear-gradient(#{$deg}deg, $colorStart 0%, $colorEnd 100%) border-box !important;
}

@each $name, $colorStart, $colorEnd in $border-gradient-themes {
	.border.border-color-#{$name} {
		@include border-fade(90, $colorStart, $colorEnd);
	}
	.border.border-color-#{$name}-inverse {
		@include border-fade(270, $colorStart, $colorEnd);
	}
	.border.border-color-#{$name}-vertical {
		@include border-fade(0, $colorStart, $colorEnd);
	}
	.border.border-color-#{$name}-vertical-inverse {
		@include border-fade(180, $colorStart, $colorEnd);
	}
}
