$icon-dimensions: 1.5rem !default;
$icon-dimensions-small: 1rem !default;
$icon-dimensions-medium: 2rem !default;
$icon-dimensions-large: 3rem !default;

.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: $icon-dimensions;
	height: $icon-dimensions;

	// Sizes

	&.is-small {
		width: $icon-dimensions-small;
		height: $icon-dimensions-small;
	}

	&.is-medium {
		width: $icon-dimensions-medium;
		height: $icon-dimensions-medium;
	}

	&.is-large {
		width: $icon-dimensions-large;
		height: $icon-dimensions-large;
	}

	&.is-rounded {
		padding: 0.6rem; // ensures icon is not cut off by rounded border
		border-radius: 50%;
	}
}
