$side-bar-width-wide: 4fr !default;

.layout {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	overflow-x: hidden;

	// --layout-gutter by default, see tokens/layout.scss
	#{$layout-gap-custom-property-name}: $layout-gap;
	#{$layout-gap-scalable-custom-property-name}: $layout-gap;

	@include widescreen {
		#{$layout-gap-scalable-custom-property-name}: $layout-widescreen-gap;
	}
}

.layout-body {
	max-width: 100%;
	overflow: hidden;
}

.layout-body-hero,
.layout-body-main,
.layout-body-footer,
.layout-body-aside,
.layout-body-menu {
	&:empty {
		display: none;
	}
}

// grid-area values

.layout-body-header {
	grid-area: header;
}

.layout-body-hero {
	grid-area: hero;
}

.layout-body-menu {
	grid-area: menu;
}

.layout-body-main {
	grid-area: main;
}

.layout-body-aside {
	grid-area: aside;
}

.layout-body-footer {
	grid-area: footer;
}

.layout,
.layout.layout-single {
	.layout-body {
		display: grid;
		grid-template: auto auto auto 1fr auto auto / 1fr;
		grid-template-areas: 'header' 'hero' 'menu' 'main' 'aside' 'footer';
	}
}

.layout.layout-holy-grail {
	.layout-body {
		display: grid;
		grid-template: auto auto auto 1fr auto auto / 1fr;
		grid-template-areas: 'header' 'hero' 'menu' 'main' 'aside' 'footer';

		@media screen and (min-width: #{$breakpoint-tablet}) {
			grid-template: auto auto 1fr auto auto / 1fr 2fr;
			grid-template-areas:
				'header header'
				'hero hero'
				'menu main'
				'menu aside'
				'footer footer';
		}

		@media screen and (min-width: #{$breakpoint-desktop}) {
			grid-template: auto auto 1fr auto / 1fr 2fr 1fr;
			grid-template-areas:
				'header header header'
				'hero hero hero'
				'menu main aside'
				'footer footer footer';
		}

		@media screen and (min-width: #{$breakpoint-widescreen}) {
			grid-template: auto auto 1fr auto / auto 450px 900px 450px auto;
			grid-template-areas:
				'header header header header header'
				'hero hero hero hero hero'
				'. menu main aside .'
				'footer footer footer footer footer';
		}
	}
}

.layout-padding {
	padding-inline: var(#{$layout-gap-custom-property-name}) !important;
}

.layout-margin {
	margin-inline: var(#{$layout-gap-scalable-custom-property-name}) !important;
}
