.media {
	align-items: flex-start;
	display: flex;

	.media {
		margin-block-start: 1rem;
		border-top: 1px solid $border;
		display: flex;
		padding-block-start: 0.75rem;

		.media {
			border-top: 1px solid $border;
			padding-block-start: 0.5rem;

			& + .media {
				margin-block-start: 0.5rem;
			}
		}
	}

	& + .media {
		border-top: 1px solid $border;
		margin-block-start: 1rem;
		padding-block-start: 1rem;
	}

	// Sizes

	&.media-large {
		& + .media {
			margin-block-start: 1.5rem;
			padding-block-start: 1.5rem;
		}
	}
}

.media-left,
.media-right {
	flex-basis: auto;
	flex-grow: 0;
	flex-shrink: 0;
}

.media-left {
	margin-inline-end: 1rem;
}

.media-right {
	margin-inline-start: 1rem;
}

.media-content {
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
	width: 100%;
	word-break: break-word;
}
