$notification-background: $secondary-background !default;
$notification-padding-vertical: 0.5em !default;
$notification-padding-horizontal: 0.75em !default;

$notification-font-size: $font-size-8 !default;
$notification-color: $text !default;

$notification-button-font-size: $font-size-9 !default;

$notification-border-color: $control-border !default;
$notification-border-width: $border-width !default;
$notification-border-radius: $border-radius !default;

$notification-icon-inline-spacing: 0.75em !default;
$notification-icon-block-spacing: 0.2em !default;

.notification {
	display: grid;
	position: relative;
	align-items: flex-start;
	border: $notification-border-width solid $notification-border-color;
	border-radius: $notification-border-radius;
	outline-color: $text;
	background-color: $notification-background;
	color: $notification-color;
	font-size: $notification-font-size;
	line-height: $line-height-normal;
	padding-inline: $notification-padding-horizontal;
	padding-block: $notification-padding-vertical;
	grid-template: auto / auto 1fr auto;
	grid-template-areas: 'icon notification-content dismiss';
	word-wrap: break-word;
	word-break: break-word;

	@each $name, $color-set in $colors {
		$base: nth($color-set, $color-index-base);
		$dark: nth($color-set, $color-index-dark);
		$background: nth($color-set, $color-index-background);

		&.notification-#{$name} {
			border-color: $dark;
			background-color: $background;

			&.is-loading::before {
				border-color: transparent transparent $dark $dark;
			}

			.notification-icon {
				color: $dark;
			}
		}
	}

	&.is-loading {
		color: transparent;

		> :first-child {
			margin-inline-start: calc($notification-padding-vertical + 0.375em);
		}

		&::before {
			@include loader;

			position: absolute;
			inset-block-start: $notification-padding-vertical;
			inset-inline-start: $notification-padding-horizontal;
			border-color: transparent transparent $notification-color $notification-color;
		}
	}

	.notification-content {
		grid-area: notification-content;

		.notification-title {
			font-weight: $weight-semibold;
			margin-inline-end: $notification-icon-inline-spacing;
		}

		a:not(.button) {
			text-decoration: underline;

			&:hover {
				text-decoration-thickness: 0.15em;
			}
		}

		.button {
			font-size: $notification-button-font-size;
		}
	}

	.notification-icon {
		grid-area: icon;
		flex-shrink: 0;
		margin-inline-end: $notification-icon-inline-spacing;
	}

	.notification-dismiss {
		@include dismiss-square;

		grid-area: dismiss;
		margin-inline-start: $notification-icon-inline-spacing;
	}

	.notification-icon,
	.notification-dismiss {
		margin-block-start: $notification-icon-block-spacing;
	}
}
