@use 'sass:math';

$ps-height: 54px !default;
$ps-font-size-mobile: $font-size-8 !default;
$ps-font-size-desktop: $font-size-7 !default;
$ps-horizontal-spacing: $spacer-3 !default;

$ps-button-color: $text !default;
$ps-button-hover-background-color: $body-background-medium !default;
$ps-button-hover-color: $text !default;
$ps-button-active-background-color: $body-background-medium !default;

$ps-button-tag-margin: math.div($font-size-9, 3) !default;

$ps-chevron-font-size: $font-size-9 !default;
$ps-chevron-color: $text-subtle !default;

$ps-hover-bottom-thickness: math.div($spacer-2, 2) !default;
$ps-border-bottom-style-hover: 2px solid $primary !default;

$ps-mobile-background-color: $body-background !default;

$ps-submenu-button-padding: $spacer-3 $spacer-5 !default;

.pivot-stack {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	position: relative;
	height: $ps-height;
	min-height: $ps-height;
	padding-#{$user-left}: 0;
	padding-#{$user-right}: 0;

	box-sizing: border-box;
	width: 100%;
}

.pivot-stack-nav {
	display: none;
	@include tablet {
		display: flex;
	}
	align-items: stretch;
}

.pivot-stack-nav-list {
	display: flex;
	align-items: stretch;
}

.pivot-stack-item {
	display: flex;
	align-items: center;
	flex-shrink: 0;

	&.has-spacing {
		margin: 0 $ps-horizontal-spacing;
	}

	&.is-category {
		margin: 0 $ps-horizontal-spacing;

		> .pivot-stack-button {
			.tag {
				margin-bottom: $ps-button-tag-margin;
			}
		}
		> .is-title {
			padding-left: $ps-horizontal-spacing;
		}

		&:before {
			content: '';
			display: inline-block;
			height: $spacer-7;
			border-left: 2px solid $text-subtle;
			margin-#{$user-left}: $ps-horizontal-spacing;
			margin-#{$user-right}: 2 * $ps-horizontal-spacing;
		}
	}

	// &:hover {
	// 	background-color: $body-background-medium;

	// 	&.has-hover-bg:not([aria-expanded='true']) {
	// 		> :first-child,
	// 		&.is-active {
	// 			position: relative;

	// 			&:after {
	// 				content: '';
	// 				display: block;
	// 				position: absolute;
	// 				border-bottom: $ps-border-bottom-style-hover;
	// 				left: 0;
	// 				right: 0;
	// 				bottom: -#{$ps-hover-bottom-thickness};
	// 			}
	// 		}
	// 	}
	// }

	&:active,
	&.is-active:not([aria-expanded='true']),
	&.focus-visible:not([aria-expanded='true']) {
		color: $ps-button-hover-color;
		> :first-child {
			position: relative;

			&:after {
				content: '';
				display: block;
				position: absolute;
				border-bottom: $ps-border-bottom-style-hover;
				left: 0;
				right: 0;
				bottom: -#{$ps-hover-bottom-thickness};
			}
		}
	}
}

.pivot-stack-button {
	display: flex;
	align-items: center;
	justify-content: center;

	align-self: stretch;
	flex-shrink: 0;
	flex-grow: 0;

	min-width: 54px;
	padding: 0 $ps-horizontal-spacing;

	background-color: transparent; // override button default
	color: $ps-button-color;
	border: none; // override button default

	text-decoration: none !important;
	white-space: nowrap;
	font-size: $ps-font-size-mobile;
	line-height: normal;
	cursor: pointer;
	@include unselectable;
	outline-offset: -1 * $focus-width !important; // inset focus outline.

	.dropdown-menu &,
	.pivot-stack-mobile-nav & {
		justify-content: flex-start;
	}

	.pivot-stack-mobile-nav & {
		padding: $ps-horizontal-spacing * 2;
	}

	// &:active,
	// &.is-active:not([aria-expanded='true']),
	// &.focus-visible:not([aria-expanded='true']) {
	// 	color: $ps-button-hover-color;
	// 	> :first-child {
	// 		position: relative;

	// 		&:after {
	// 			content: '';
	// 			display: block;
	// 			position: absolute;
	// 			border-bottom: $ps-border-bottom-style-hover;
	// 			left: 0;
	// 			right: 0;
	// 			bottom: -#{$ps-hover-bottom-thickness};
	// 		}
	// 	}
	// }

	&:visited {
		color: $ps-button-color;
	}

	&.dropdown-trigger[aria-expanded='true'] {
		background-color: $ps-button-hover-background-color;
	}

	.dropdown-menu & {
		padding: $ps-submenu-button-padding;
	}
}
