/* *,
	::before,
	::after {
		box-sizing: border-box;
	}
	
	:host {
		--star-color: var(--theme-primary-active);
	
		display: block;
	}
	
	:host([readonly]) {
		--star-color: var(--theme-text);
	
		cursor: not-allowed;
		pointer-events: none;
	}
	
	#legend-container {
		margin-block: 0.75rem;
	}
	
	#input-container {
		display: inline-grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto;
		grid-template-areas: 'star-1 star-2 star-3 star-4 star-5 alert';
	}

	svg {
		fill: none;
		stroke: var(--star-color);
	}

	#input-container > input:not(.is-selected) ~ label svg,
	#input-container > input + label:hover ~ label svg,
	#input-container > input:checked ~ label svg {
		fill: none;
	}

	#input-container > input.is-selected + label svg,
	#input-container:hover > input + label svg,
	#input-container:focus-visible > input + label svg {
		fill: var(--star-color);
	}
	
	input:read-only {
		pointer-events: none; 
	}

	input:read-only:not(.is-selected) ~ label svg {
		fill: none;
	}
	
	#star-1 {
		grid-area: star-1;
	}
	
	#star-2 {
		grid-area: star-2;
	}
	
	#star-3 {
		grid-area: star-3;
	}
	
	#star-4 {
		grid-area: star-4;
	}
	
	#star-5 {
		grid-area: star-5;
	}
	
	#alert {
		grid-area: alert;
		display: flex;
		align-items: start;
		margin-inline-start: 0.5rem;
	}
	
	.visually-hidden {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		position: absolute;
		width: 1px;
		height: 1px;
		white-space: nowrap;
		overflow: hidden;
	}
	
	label {
		border-radius: 0.5em;
		padding-inline: 0.125em;
	}
	
	[id^="label-"] {
		display: none;
	}
	
	input:focus-visible + label,
	input.focus-visible + label {
		outline: 3px dashed;
	}
	
	input[value="1"]:checked ~ #alert #label-1,
	input[value="2"]:checked ~ #alert #label-2,
	input[value="3"]:checked ~ #alert #label-3,
	input[value="4"]:checked ~ #alert #label-4,
	input[value="5"]:checked ~ #alert #label-5 {
		display: inline;
	}
	
	// override checked styles with hover styles
	
	input:hover ~ #alert [id^="label-"] {
		display: none !important;
	}
	
	input[value="1"]:hover ~ #alert #label-1,
	input[value="2"]:hover ~ #alert #label-2,
	input[value="3"]:hover ~ #alert #label-3,
	input[value="4"]:hover ~ #alert #label-4,
	input[value="5"]:hover ~ #alert #label-5 {
		display: inline !important;
	}
	
	input:disabled + label,
	input[value="1"]:disabled ~ #alert #label-1,
	input[value="2"]:disabled ~ #alert #label-2,
	input[value="3"]:disabled ~ #alert #label-3,
	input[value="4"]:disabled ~ #alert #label-4,
	input[value="5"]:disabled ~ #alert #label-5 {
		opacity: 0.6;
		cursor: not-allowed;
	}

	input[value="1"]:read-only.is-selected + input ~ label svg,
	input[value="2"]:read-only.is-selected + input ~ label svg,
	input[value="3"]:read-only.is-selected + input ~ label svg,
	input[value="4"]:read-only.is-selected + input ~ label svg,
	input[value="5"]:read-only.is-selected + input ~ label svg {
		fill: none;
	}
 */
