$steps-gap: 7px;
$steps-size: 8px;
$steps-size-double: 2 * $steps-size;

.steps {
	display: flex;
	gap: $steps-gap;

	.step {
		width: $steps-size;
		height: $steps-size;
		border-radius: $border-radius-rounded;
		background-color: $secondary;

		&.step-selected {
			width: $steps-size-double;
			background-color: $primary;
		}
	}
}
