@use '../tokens/index.scss' as tokens;
@use '../mixins/index.scss' as mixins;

.stretched-link {
	&::before {
		position: absolute;
		content: '';
		z-index: tokens.$zindex-stretched-link;
		inset: 0;
	}
}
