/* stylelint-disable no-descending-specificity */

.table {
	width: 100%;
	font-size: $font-size-8;
	border-collapse: collapse;
	table-layout: auto;

	caption {
		padding: $spacer-6;
		font-size: $table-caption-size;
		font-weight: $weight-semibold;
		letter-spacing: $table-caption-spacing;
		text-align: $user-right;
		text-transform: uppercase;
	}

	thead th {
		border-top: 0;
		border-bottom: $table-border-width solid $border;
	}

	th,
	td {
		display: table-cell;
		word-wrap: break-word;
		padding: $table-cell-padding-xxs $table-cell-padding-xs;
		border-top: $table-border-width solid $border;
		line-height: 1.5;
		vertical-align: top;

		&:not([align]) {
			text-align: $user-left;
		}
	}

	&.is-stacked-mobile {
		@include extremely-needed-mobile {
			thead,
			tfoot {
				display: none;
			}

			td {
				display: block;
				width: 100%;
				padding: $table-cell-padding-xxs 0;
			}

			td:not(:nth-child(1)) {
				padding-top: 0;
				border-width: 0;
			}
		}
	}
}
