$table-cell-padding-xxs: $spacer-4 !default;
$table-cell-padding-xs: $spacer-5 !default;

$table-caption-size: $font-size-9 !default;
$table-caption-spacing: 0.125rem !default;

.table-wrapper {
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}

.table {
	width: 100%;
	font-size: $font-size-8;
	border-collapse: collapse;
	table-layout: auto;

	caption {
		padding: $spacer-6;
		font-size: $table-caption-size;
		font-weight: $weight-semibold;
		letter-spacing: $table-caption-spacing;
		text-align: $user-right;
		text-transform: uppercase;
	}

	th,
	td {
		display: table-cell;
		word-wrap: break-word;
		padding: $table-cell-padding-xxs $table-cell-padding-xs;
		border-top: 1px solid $border;
		line-height: 1.5;
		vertical-align: top;
	}

	thead th {
		border-top: 0;
		border-bottom: 1px solid $border;
	}

	th:not([align]),
	td:not([align]) {
		text-align: $user-left;
	}

	&.table-stacked-mobile {
		@include discouraged-mobile {
			thead,
			tfoot {
				display: none;
			}

			td {
				display: block;
				width: 100%;
				padding: $table-cell-padding-xxs 0;
			}

			td:not(:nth-child(1)) {
				padding-top: 0;
				border-width: 0;
			}
		}
	}
}
