// Probably keep, will need some big changes.

$tabs-link-color: $text !default;
$tabs-link-hover-background-color: $primary-hover !default;
$tabs-link-radius: $border-radius-rounded !important;
$tabs-link-active-background-color: $primary-active !default;
$tabs-link-active-color: $primary-invert !default;

.tabs {
	align-items: stretch;
	display: flex;
	justify-content: space-between;
	background-color: $body-background-accent;
	border-radius: $tabs-link-radius;
	width: 100%;

	.tab-list {
		align-items: center;
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
		justify-content: flex-start;
	}

	.tab-control {
		position: relative;
		background-color: transparent;
		border: none;
		align-items: center;
		color: $tabs-link-color;
		display: flex;
		flex-grow: 1;
		flex-shrink: 0;
		justify-content: center;
		padding-block: 1rem;
		cursor: pointer;

		&:hover {
			color: $tabs-link-active-color;
			border-radius: $tabs-link-radius;
			background-color: $tabs-link-hover-background-color;
		}

		&.is-active {
			color: $tabs-link-active-color;
			background-color: $tabs-link-active-background-color;
			border-radius: $tabs-link-radius;
			&:hover {
				background-color: $tabs-link-hover-background-color;
			}
		}
	}
}
