$thread-timestamp-font-size: $font-size-9 !default;
$thread-timestamp-font-weight: $weight-semilight !default;

$thread-border-left: $border-width solid $border !default;
$thread-min-height: 3.5em !default;
$thread-padding-bottom: $spacer-8 !default;
$thread-padding-left: $spacer-8 !default;

$thread-icon-top-offset: -0.35em !default;
$thread-icon-left-offset: -1.05em !default;

.thread-item {
	display: flex;
	position: relative;
	padding-block-end: $thread-padding-bottom;
	padding-inline-start: $thread-padding-left;
	min-height: $thread-min-height;
	border-inline-start: $thread-border-left;

	&:last-child {
		border-inline-start: none;
	}
}

.thread-icon {
	position: absolute;
	inset-block-start: $thread-icon-top-offset;
	inset-inline-start: $thread-icon-left-offset;
}

.thread-text {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.thread-timestamp {
	min-width: max-content;
	font-size: $thread-timestamp-font-size;
	font-weight: $thread-timestamp-font-weight;
	text-align: end;
}
