%truncated {
	/*stylelint-disable*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

@mixin truncated($lines: 1) {
	@extend %truncated;
	-webkit-line-clamp: $lines !important;
}

.truncated-1 {
	@include truncated(1);
}

.truncated-2 {
	@include truncated(2);
}

.truncated-3 {
	@include truncated(3);
}

.truncated-4 {
	@include truncated(4);
}
