# This is a basic workflow to help you get started with Actions

# env:
# PLAYWRIGHT_SKIP_BROWSER_DOWNLOAD: 1 # Skip downloading during yarn install
# PLAYWRIGHT_BROWSERS_PATH: 0 # Places binaries to node_modules/@playwright/test

name: Flows

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  # push:
  #   branches:
  #     - main
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  visual-diff:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Use Node.js 16.6.X
        uses: actions/setup-node@v2
        with:
          node-version: '16.6.X'

      # Monorepo installation
      - name: Npm install
        run: npm ci;

      - name: Install Playwright Deps
        run: npx playwright install-deps

      - name: Install Playright
        run: npx playwright install

      # Run lint
      - name: Flows
        id: 'flows'
        run: npm run flows

      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: visual_diff-test-results-${{github.sha}}
          path: ./integration/test-results/
