# This is a basic workflow to help you get started with Actions

name: Build Site and CSS

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Use Node.js 18.12.1
        uses: actions/setup-node@v2
        with:
          node-version: '18.12.1'

      # Monorepo installation
      - name: Npm install
        run: npm ci;

      # Run formatting check
      - name: Check formatting
        run: npm run prettier-check;

      # Run lint
      - name: Run lint
        run: npm run lint;

      # Run Dart Sass build
      - name: Build CSS
        run: |
          npm run build:css;

      # Run build for tokens and website
      - name: Build site
        run: |
          npm run build:site;
