name: Release

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  id-token: write # Required for OIDC / npm provenance
  contents: write # to create release (changesets/action)
  pull-requests: write # to create pull request (changesets/action)

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    if: github.repository == 'microsoft/atlas-design'
    permissions:
      id-token: write # Required for OIDC / npm provenance
      contents: write # to create release (changesets/action)
      pull-requests: write # to create pull request (changesets/action)
    name: Release
    runs-on: windows-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3
        with:
          # This makes Actions fetch all Git history so that Changesets can generate changelogs with the correct commits
          fetch-depth: 0

      - name: Use Node.js from .nvmrc
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: npm ci

      - name: Update NPM
        run: |
          npm install -g npm@latest
          npm -v

      # https://github.com/changesets/action
      - name: Publish on version increment
        uses: changesets/action@v1
        id: changesets
        with:
          publish: npx changeset publish
        env:
          HOME: ${{ github.workspace }} # https://github.com/changesets/action/issues/147
          GITHUB_TOKEN: ${{ secrets.RELEASE_GITHUB }}
          NPM_TOKEN: false

      # When changesets has published a new version of @microsoft/atlas-css, then we can attempt to publish a new extension version too.
      - name: Publish VSCode extension on version increment
        #
        if: ${{ steps.changesets.outputs.published == 'true' && contains(steps.changesets.outputs.publishedPackages.*.name, '@microsoft/atlas-css') }}
        run: npm run publish:extension
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
